<div class="header-description clearfix">
	<h2>User Experience &amp; Interface Design</h2>
	<p>Your customers interact with hundreds of brands every day. Yet, only a few of these interactions 
	are memorable. This is why the experience they share with your brand is so important. An 
	average user experience will yield average results. Give them a memorable one, though, and 
	you’ll have a customer for life.
	</p>
</div>
