<div class="header-description clearfix">
  <h2>We Help Giants Disrupt</h2>
  <p>To compete in this disruptive business world you need a serious
 edge. Great applications give you that edge. At <%= @guest_setting.title %>, we partner 
with you to build industry-changing products that are both beautiful and
 robust, giving you the edge you need to thrive in your industry. </p>
</div>
