<div class="header-description clearfix">
	<h2>You'll Love Working With Us</h2>
	<p>Deep understanding, outrageously talented teams, refined processes.
 We partner with companies to build the kind of software that dreams are
 made of. Our clients love working with us because we approach every 
engagement with respect for their business and established processes. We
 adapt seamlessly to accommodate the needs of the companies we partner 
with. </p>
</div>
