<div class="header-description clearfix">
	<h2>Building the Mobile Future</h2>
	<p>Smart companies realize the value in being where their customers 
are. Today, that place is the mobile web. As your customer’s 
expectations grow, your absence becomes even more likely to be filled by
 your competitors. We’ll help you reach your customers with elegant and 
intuitive mobile applications.  
	</p>
</div>
