<div id="sub_nav">
  		<ul class="visible-desktop nav clearfix">
			<li class="active"><a href="http://www.intridea.com/services">Services</a></li>
		    <li class=""><a href="http://www.intridea.com/services/expertise">Expertise</a></li>
		    <li class=""><a href="http://www.intridea.com/services/design">Design</a></li>
		    <li class=""><a href="http://www.intridea.com/services/development">Development</a></li>
		    <li class=""><a href="http://www.intridea.com/services/mobile">Mobile</a></li>
		    <li class=""><a href="http://www.intridea.com/services/training">Training</a></li>
		    <li class=""><a href="http://www.intridea.com/services/process">Process</a></li>
  		</ul>
		<div class="visible-tablet styled-select">
		  	<select class="chzn_select tablet_subnav chzn-done" id="services_sub_nav_url" name="services_sub_nav_url" style="width: 160px; display: none;">
				<option value="/services" selected="selected">Services</option>
				<option value="/services/expertise">Expertise</option>
				<option value="/services/design">Design</option>
				<option value="/services/development">Development</option>
				<option value="/services/mobile">Mobile</option>
				<option value="/services/training">Training</option>
				<option value="/services/process">Process</option>
			</select>
			<div style="width: 160px;" 
				class="chzn-container chzn-container-single" 
				id="services_sub_nav_url_chzn">
				<a href="javascript:void(0)" class="chzn-single"><span>Services</span><div><b></b></div></a>
				<div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;">
					<div style="" class="chzn-search">
						<input style="width: 125px;" autocomplete="off" type="text">
					</div>
					<ul class="chzn-results">
						<li id="services_sub_nav_url_chzn_o_0" class="active-result result-selected" style="">Services</li>
						<li id="services_sub_nav_url_chzn_o_1" class="active-result" style="">Expertise</li>
						<li id="services_sub_nav_url_chzn_o_2" class="active-result" style="">Design</li>
						<li id="services_sub_nav_url_chzn_o_3" class="active-result" style="">Development</li>
						<li id="services_sub_nav_url_chzn_o_4" class="active-result" style="">Mobile</li>
						<li id="services_sub_nav_url_chzn_o_5" class="active-result" style="">Training</li>
						<li id="services_sub_nav_url_chzn_o_6" class="active-result" style="">Process</li>
					</ul>
				</div>
		    </div>
		</div>
	</div>
