<div class="header-description clearfix">
	<h2>Ruby on Rails Training</h2>
	<p>For many of our clients we offer training services to get their 
existing, internal development teams working knowledgeably with Ruby on 
Rails. Our developers are not only at the forefront of the Ruby on Rails
 discipline, they're also remarkable teachers. We can help your 
developers stay up to date within the fast-growing and ever-changing 
world of Ruby on Rails.</p>
</div>
