<% content_for :masthead_container do -%>
  services_container
<% end -%>


<% content_for :masthead_container do -%>
  "
<% end -%>

          <div id="flash">
</div>
 <div class="content main sidebar clearfix masthead" data-masthead-image="">

    <%= render :partial => 'sub_nav' %>

	<%= render :partial => 'design_header_description' %>

</div> <!-- / #feature_box -->
         

	

<div class="main odd clearfix">	
	<div class="image-wrapper">
   		<img alt="1_ipad_2x" src="/assets/1_ipad_2x.png">
   		<img alt="2_ipad_2x" src="/assets/2_ipad_2x.png">
	</div>
	
	<div class="step">
		<h3>Research &amp; Strategy</h3>
		
		<h4>User Interviews &amp; Persona Matrix</h4>
		<p>Without knowing your customers, you’re working blind. What’s their 
background? What are their needs? What drives their decisions? Answer 
these questions and you’ll be on your way to providing the ideal 
experience they’ve always hoped for. With tools like User Interviews and
 Persona Matrices, Intridea helps you not only find those answers, but 
actually understand them.</p>
		
		<h4>Application Audits, Usability Studies</h4>
		<p>The ease with which your users navigate your products is critical 
to your success. What may seem like small design mistakes can mushroom 
into serious product problems and quickly drive potential and current 
customers away. Application Audits and Usability Studies allow Intridea 
to find these issues fast before they get another chance to hurt your 
bottom line.</p>
		
		<h4>Competitor Analysis</h4>
		<p>At this very moment your competitors are giving you something; 
information. Competitor Analysis is an essential tool for any company 
looking to understand their field. At Intridea, we regularly conduct 
extensive competitor analysis for some of the biggest brands in the 
world to help them not only stay on top of their competitors, but to 
also shape their own unique offering.</p>
	</div>
</div>

<div class="main even clearfix">	
	
	<div class="step">
		<h3>User Experience Architecture</h3>
		<p>Your User Experience must have a strong foundation to build upon. 
This is where User Experience Architecture comes in. We take what we’ve 
learned from constructing it for large brands and create a structure 
that will last.</p>
		
		<h4>User Stories</h4>
		<p>Putting yourself in your users’ shoes when designing your 
application is not enough. You have to walk in them too. User Stories 
are an integral part of how Intridea is able to consistently develop 
usable application flows that do exactly what people expect from your 
application. Prepare to reduce user frustrations and increase the 
positive perception of your brand.</p>
		
		<h4>User flows and WireFrames</h4>
		<p>Great design doesn’t start with the design - it takes extensive 
research and planning before the pen ever hits the pad. This is where 
tools like User Flows and Wireframes come in. They allow us to pick on 
issues early, ensure we’re on the same page and build the groundwork 
crucial for great design.</p>
	</div>
	
	<div class="image-wrapper">
   		<img alt="3_ipad_2x" src="/assets/3_ipad_2x.png">
   		<img alt="4_ipad_2x" src="/assets/4_ipad_2x.png">
	</div>
	
</div>

<div class="main odd clearfix">	
	<div class="image-wrapper">
   		<img alt="5_ipad_2x" src="/assets/5_ipad_2x.png">
   		<img alt="6_ipad_2x" src="/assets/6_ipad_2x.png">
	</div>
	
	<div class="step">
		<h3>Interface Design</h3>
		<p>Poor User Interface design can destroy your bottom line, if not 
kill your product outright. Your interface is the front lines of your 
battle to keep your users pleased; it’s not something to take lightly.</p>
		
		<h4>Agile User Interface Design</h4>
		<p>Agile isn’t just a development philosophy - it’s also a powerful 
way to design interfaces. We’ve taken the best pieces of the Agile 
software development process and adapted them to create a design system 
that consistently creates quality work, faster. By using incremental 
changes and less resource overhead, our designers take less time to find
 what works and eliminate what doesn’t.</p>
		
		<h4>Design Prototyping &amp; Testing</h4>
		<p>Imagine the issues you’d avoid if you could bring your project 
plans and comps to life for early feedback and user testing. This is 
exactly what Design prototyping allows us to do. An important part of 
our process, we use Design Prototyping to give you a peek into the 
future of your project.</p>
	</div>
</div>

<%= render :partial => "/shared/portfolio_bar" %>
<h2 class="section-title"><strong>Clients</strong> From Startups to Giants</h2>




