<% content_for :masthead_container do -%>
  services_container
<% end -%>

          <div id="flash">
</div>
          
<div class="content main sidebar clearfix masthead" data-masthead-image="">

    <%= render :partial => 'sub_nav' %>

	<%= render :partial => 'expertise_header_description' %>

</div> <!-- / #feature_box -->

<h2 class="section-title">
<strong>Expertise</strong> Understanding Your Business Needs</h2>
<div class="main even clearfix">	
	<div class="image-content alignleft">
		<h3>You've got a business to run. We make software that helps. </h3>
		<p>At Intridea we're more than just exceptional software developers 
and designers; we're a task force of solutionaries working with 
companies large and small to transform anachronistic industries with 
engaging, targeted, and innovative software solutions.</p>
		<p>From napkin to webscale and everything in between - whether you 
already have a solid idea or need help defining your vision and strategy
 we can help. Our expertise in bleeding-edge technology keeps us 
formidably agile, enabling us to help fledgling startups build from the 
ground as effectively as we can help enterprise giants entirely 
re-imagine their presence on the web and mobile. </p>
	</div>
	
	<div class="image-wrapper alignright">
   		<img alt="Bigdata_ipad_2x" src="/assets/bigdata_ipad_2x.png">
</div>
</div>
<%= render :partial => "/shared/services" %>
<%= render :partial => '/shared/portfolio_bar' %>

<%# render :partial => '/shared/client_section' %>


