<% content_for :masthead_container do -%>
  services_container
<% end -%>

          <div id="flash">
</div>
          
<div class="content main sidebar clearfix masthead" data-masthead-image="">

    <%= render :partial => 'sub_nav' %>

	<%= render :partial => 'how_we_work_header_description' %>

</div>
<!--  -->


<h2 class="section-title"><strong>Our Process</strong> Understanding, Innovation, Implementation &amp; Beyond  </h2>

<div class="main process clearfix"> 
	<div class="step-wrap alignleft clearfix">
		<h3><strong>Step 1:</strong> Research and Discovery</h3>
		<div class="step-tmb">
			<img alt="Step_1_icon" src="/assets/step_1_icon.png">
		</div>
		<div class="step alignleft">
			<p>Before we can create a solution customized for you, we must first 
understand who you are. What makes you the best in your industry? What’s
 standing between you and your next milestone? What are the unique 
challenges surrounding your project?</p>
			<p>We immerse ourselves in your field to imagine innovative strategies that go beyond the functional specs.</p>	
		</div>
	</div>
	<div class="alignright image-wrapper">
   		<img alt="Step_1_thumb" src="/assets/step_1_thumb.png">
	</div>
	
	<div class="arrow"></div>
</div>

<div class="main process clearfix"> 
	<div class="step-wrap alignleft clearfix">
		<h3><strong>Step 2:</strong> Designing the User Experience</h3>
		<div class="step-tmb">
			<img alt="Step_2_icon" src="/assets/step_2_icon.png">
		</div>
		<div class="step alignleft">
			<p>In this phase, we start to transform ideas into reality. We 
assemble wireframes to describe user interaction, design mockups to 
convey look and feel, and use both to collaborate with you on a shared 
vision. Throughout this visual process, we’re paying attention to how 
your audience will engage with the product. So, we’re not only combining
 colors and shapes. 
	We’re crafting an experience.</p>
		</div>
	</div>
	<div class="alignright image-wrapper">
   		<img alt="Step_2_thumb" src="/assets/step_2_thumb.png">
	</div>
	
	<div class="arrow"></div>

</div>

<div class="main process clearfix"> 
	<div class="step-wrap alignleft clearfix">
		<h3><strong>Step 3:</strong> Application Development</h3>
		<div class="step-tmb">
		<img alt="Step_3_icon" src="/assets/step_3_icon.png">
		</div>
		<div class="step alignleft">
			<p>Your users expect things to just "work." That’s why our developers
 start laying the groundwork for a rock-solid application as early as 
the Discovery phase. Built-in functionality testing, deploy scripts, 
trusted frameworks like Ruby on Rails - these are just a few ways we 
ensure your product performs without a hitch. Bit by bit, you’ll see 
your mockups from the Design phase come to life.</p>
		</div>
	</div>
	<div class="alignright image-wrapper">
   		<img alt="Step_3_thumb" src="/assets/step_3_thumb.png">
	</div>
	
	<div class="arrow"></div>
</div>

<div class="main process feature clearfix"> 
	<div class="step-wrap alignleft clearfix">
		<h3><strong>Every step of the way:</strong> Iterate, Analyze, Improve</h3>
		<div class="step-tmb">
			<img alt="Step_4_icon" src="/assets/step_4_icon.png">
		</div>
		<div class="step alignleft">
			<p>We’re proud to say we have one of the fastest development cycles 
around. But great products still take months to develop, and we 
understand that early assumptions can change. That’s why we show you 
progress every two weeks. Our agile process allows us to adapt quickly 
so you can take 
	advantage of every opportunity. And we don’t go away just because 
you’ve launched. Share your stories with us - our industry knowledge and
 fresh perspective will continue to help you compete in new and exciting
 ways.</p>
		</div>
	</div>
	<div class="alignright image-wrapper">
   		<img alt="Step_4_thumb" src="/assets/step_4_thumb.png">
	</div>
</div>



