<% content_for :masthead_container do -%>
  services_container
<% end -%>

          <div id="flash">
</div>
          
<div class="content main sidebar clearfix masthead" data-masthead-image="">

    <%= render :partial => 'sub_nav' %>

	<%= render :partial => 'mobile_header_description' %>

</div> <!-- / #feature_box -->

<div class="main odd clearfix">
	
		<div class="image-wrapper">
	   		<img alt="Ipad_1" src="/assets/ipad_1.png">
	   		<img alt="Ipad_2" src="/assets/ipad_2.png">
		</div>

		<div class="step">
			<h3>iPad</h3>

			<p>It’s well established that Apple has another phenomenon on its 
	hands with the iPad. Its launch turbocharged the sleepy tablet market 
	and quickly turned it into the fastest growing segment of personal 
	computers. From children to grandparents, technophiles to novices, 
	consumers have embraced the iPad with open arms. This is why iPad 
	development has become a virtually required area of development for 
	companies looking to grow their business.</p>

			<p>However, building a high-quality experience for the iPad is not a 
	simple task. With the unique opportunities of the iPad form factor and 
	touch screen come unique challenges. Simply sprucing your iPhone 
	application won’t work.</p>

			<p>That’s where we come in. We’ve been in the trenches and know what 
	goes into developing amazing iPad experiences. With <%= @guest_setting.title %>, you get 
	mobile developers who have built a variety of iPad applications for 
	companies like Mashable, Oracle and Gulfstream.</p>
		</div>

</div>

<div class="main even clearfix"> 
	

		<div class="step">
			<h3>iPhone</h3>

			<p>Whether you’re looking to extend your current product offering or 
	build a dedicated iPhone application, consumers expect a quality 
	experience. The App Store is full of well-designed applications, raising
	 consumers’ expectations and making it harder to have an impact with a 
	mediocre application. That’s why you need developers with extensive 
	experience.</p>

			<p>Our engineers have been developing since the day Apple released 
	their first development kit. They not only know the current iOS iPhone 
	features like the back of their hand, they can practically predict 
	what’s coming out in the next release. Our developers are the guys who 
	start breathing heavily when someone whispers 'Apple'. They take fanboy 
	to another level. These are the people you want building your iPhone 
	app.</p>
		</div>

		<div class="image-wrapper">
	   		<img alt="Iphone_1" src="/assets/iphone_1.png">
	   		<img alt="Iphone_2" src="/assets/iphone_2.png">
		</div>


</div>

<div class="main odd clearfix">
	
		<div class="image-wrapper">
	   		<img alt="Android_1" src="/assets/android_1-769274e602b527746ac27f235ffd2fc4.png">
	   		<img alt="Android_2" src="/assets/android_2-19294739e9fbc3de87635c6d2eac855b.png">
		</div>

		<div class="step">
			<h3>Android</h3>

			<p>Google is one of the brightest companies of our time. They knew 
	that mobile was the next frontier when it came to consumer technology. 
	And they weren’t going to just sit by as Apple swept unprepared 
	competitors under the rug. So they responded with Android. While many 
	doubted Android’s ability to compete with Apple, today, even with all 
	the amazing marketing and innovation Apple has done, Android now leads 
	the smartphone market.</p>

			<p>Just as with the iOS app market place though, the Android app 
	market was once full of low hanging opportunities. Today the App market 
	is a highly competitive marketplace where developers produce their best 
	work, only to see it one upped the next week and even large corporations
	 have a hard time competing.</p>

			<p>Our Android development team is more than just a bunch of 
	battle-hardened Java developers. They are also as passionate about 
	creating great experiences with their clients as they are about creating
	 great experiences on the Android operating system. And they are very 
	passionate about Android applications.</p>	
		</div>

</div>

<div class="main sidebar clearfix"> 
	
		<div class="span-2 alpha">
		<h3>The Next Thing</h3>

		<p>With how fast technology moves, it can be hard to stay up on the 
	latest tools and know which ones may benefit your business or pose a 
	threat. That’s why <%= @guest_setting.title %> places a lot of importance on making sure 
	our developers and designers aren’t just aware of the latest tools, but 
	know what’s coming down the road. When something new arrives, we don’t 
	just read about it. We spend time to learn its strengths and weaknesses 
	so you don’t have to.</p>
		</div>
		<div class="image-wrapper" style="float:right;">
	   		<img alt="Missing" src="/assets/missing.png">
		</div>



</div>
