<% content_for :masthead_container do -%>
  services_container
<% end -%>

          <div id="flash">
</div>
          
<div class="content main sidebar clearfix masthead" data-masthead-image="">

    <%= render :partial => 'sub_nav' %>

	<%= render :partial => 'training_header_description' %>

</div>

<div class="main odd clearfix">	
	<div class="image-wrapper">
   		<img alt="Training_blueprint" src="/assets/training_blueprint.png">
	</div>
	
	<div class="step">		
		<p>You’ve picked a great time to learn Rails; the supply of Rails 
developers cannot keep up with the current demand. Recent job trends 
indicate the need for Ruby on Rails developers has increased over 200% 
in the last three years.</p>
		
		<p>We’ve developed our training courses to give new and existing Rails
 developers the tools they need to compete in today’s market. We offer 
1-3 day courses taught by expert trainers who have seen it all when it 
comes to Rails applications. Our trainers don’t just work in Rails every
 day; they are also deeply involved in the community. We sponsor, attend
 and speak at conferences every chance we get and have made open source 
contribution an important part of our company.</p>

		<p>We’re passionate about our work and love to help others learn how 
to best develop with Ruby on Rails. We have put a lot of time in 
designing our courses to be fun and engaging, while ensuring they 
provide a solid foundation of best practices. Through the applications 
we’ve built for our clients like Mashable, Verizon, and Amazon we’ve 
seen a variety of unique development situations. We bring this 
experience to every training session.</p>
	</div>
</div>



