<!-- blog post -->
<h2 class="section-title"><strong>Blog</strong> Technology, Design, Business</h2>										
<div id="portfolio_bar" class="main clearfix">
    <div class="portfolio_item blog-preview alpha ">
      <div class="item_img">
        <a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow">
			<%= image_tag "large_002.png", :title => "Large" %>
		</a>
        <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
      </div>
      <div class="item_desc">
        <h4><a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow"><strong>See You At MobileUXCamp DC Tomorrow!</strong></a></h4>
        <p>Join Brandon, Kathryn and me tomorrow at the Goethe-Institut / German Cultural Center for MobileUXCamp DC 2013.</p>
      </div>
    </div>
    <div class="portfolio_item blog-preview  visible-desktop">
      <div class="item_img">
        <a href="/blog/2013/8/29/so-long-madison-and-thanks-for-all-the-ruby">
			<%= image_tag "large_006.png", :title => "Large" %>
		</a>
        <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
      </div>
      <div class="item_desc">
        <h4><a href="/blog/2013/8/29/so-long-madison-and-thanks-for-all-the-ruby"><strong>So Long Madison And Thanks For All The Ruby</strong></a></h4>
        <p>The excellent Madison Ruby conference is a wrap, but the fall
 conference season is just getting started. Find out where Intrideans 
are he...</p>
      </div>
    </div>
    <div class="portfolio_item blog-preview omega ">
      <div class="item_img">
        <a href="/blog/2013/8/15/creating-stately-a-symbol-font">
			<%= image_tag "large_003.png", :title => "Large" %>
		</a>
        <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
      </div>
      <div class="item_desc">
        <h4><a href="/blog/2013/8/15/creating-stately-a-symbol-font"><strong>Creating Stately, A Symbol Font</strong></a></h4>
        <p>In this video, Ben Markowitz talks about creating his symbol font Stately, and how to use it.</p>
      </div>
    </div>
</div>
