<!-- by intridea -->
<h2 class="section-title"><strong>Built By Intridea</strong> We Make Remarkable Products</h2>										
<div id="portfolio_bar" class="built main clearfix">
    <div class="portfolio_item alpha">
      <a href="http://www.omniauth.org/">
		<%= image_tag "feature.png", :title => "Feature" %>		
	  </a>
      <div class="item_desc">
        <h4><a href="http://www.omniauth.org/"><strong>OmniAuth</strong> <em>Flexible, unassuming authentication</em></a></h4>
        <p>OmniAuth is a Ruby authentication framework that provides a 
standardized interface to all the traditional authentication providers</p>
      </div>
    </div>
    <div class="portfolio_item ">
      <a href="http://intridea.github.com/grape/">
		<%= image_tag "feature_002.png", :title => "Feature" %>
	  </a>
      <div class="item_desc">
        <h4><a href="http://intridea.github.com/grape/"><strong>Grape</strong> <em>REST-like APIs in Ruby</em></a></h4>
        <p>An opinionated micro-framework for creating REST-like APIs in Ruby</p>
      </div>
    </div>
    <div class="portfolio_item omega">
      <a href="http://intridea.github.com/green_onion/">
		<%= image_tag "feature_003.png", :title => "Feature" %>
	  </a>
      <div class="item_desc">
        <h4><a href="http://intridea.github.com/green_onion/"><strong>GreenOnion</strong> <em>UI testing/diffing tool</em></a></h4>
        <p>UI testing tool that records screenshots and compares them to one another</p>
      </div>
    </div>
</div>
