<h2 class="section-title">
<strong>Clients</strong> From Startups to Giants</h2>

<div id="client_bar" class="main clearfix">
  <ul class="visible-desktop">
	<li>AARP</li>
    <li>Accenture</li>
    <li>Agilysys</li>
    <li><a href="http://www.intridea.com/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/betterfly">Betterfly</a></li>
    <li>Bureau of Labor Statistics</li>
  </ul>
<ul class="visible-desktop">
	<li>Comcast</li>
    <li>comScore</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li><a href="http://www.intridea.com/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>Gannett</li>
    <li>Geico</li>
    <li>Gulfstream</li>
    <li><a href="http://www.intridea.com/portfolio/web/homezada">HomeZada</a></li>
</ul>
<ul class="visible-desktop">
	<li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp; Company</li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="http://www.intridea.com/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
</ul>
<ul class="visible-desktop">
	<li><a href="http://www.intridea.com/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
    <li>PPR</li>
    <li>Razoo</li>
    <li>Retail Benefits</li>
    <li>Safeway</li>
    <li>Schlumberger</li>
    <li><a href="http://www.intridea.com/portfolio/web/scalr">Scalr</a></li>
</ul>
<ul class="visible-desktop last">
	<li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="http://www.intridea.com/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
</ul>
<ul class="hidden-desktop first">
	<li>AARP</li>
    <li>Accenture</li>
    <li><a href="http://www.intridea.com/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/betterfly">Betterfly</a></li> 
  	<li>Bureau of Labor Statistics</li>
    <li>Comcast</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li>DubMeNow</li>
    <li><a href="http://www.intridea.com/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>ForumOne</li>
    <li>Gannett</li>
</ul>
<ul class="hidden-desktop">
<li>Geico</li>
   	<li>Gulfstream</li>
    <li><a href="http://www.intridea.com/portfolio/web/homezada">HomeZada</a></li>
    <li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp;<br> Company</li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="http://www.intridea.com/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
    <li><a href="http://www.intridea.com/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
</ul>
<ul class="hidden-desktop last">
	<li>PPR</li>
    <li>Razoo</li>
    <li>Recnation</li>
  	<li>Retail Benefits</li>
    <li>Safeway</li>
    <li><a href="http://www.intridea.com/portfolio/web/scalr">Scalr</a></li>
    <li>Schlumberger</li>
    <li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="http://www.intridea.com/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
    <a href="http://www.intridea.com/contact" class="btn blue small visible-tablet">Get in Touch</a>
</ul>
</div>
