<h2 class="section-title">
<strong>Portfolio</strong> Bringing Ideas To Life </h2>

<div id="portfolio_bar" class="main clearfix">
    <div class="portfolio_item alpha ">
      <a href="http://www.intridea.com/portfolio/mobile/nfwf"><img alt="Feature" src="/assets/feature.png"></a>
      <div class="item_desc">
        <h4><a href="http://www.intridea.com/portfolio/mobile/nfwf">
			<strong>National Fish and Wildlife Foundation</strong> <em></em></a>
		</h4>
      </div>
    </div>
    <div class="portfolio_item  visible-desktop">
      <a href="http://www.intridea.com/portfolio/web/socialcode">
		<img alt="Feature" src="/assets/feature_003.png">
	  </a>
      <div class="item_desc">
        <h4><a href="http://www.intridea.com/portfolio/web/socialcode">
				<strong>SocialCode</strong> 
				<em>SocialCode can help  your company harness the power of Facebook</em>
			</a>
		</h4>
      </div>
    </div>
    <div class="portfolio_item omega ">
      <a href="http://www.intridea.com/portfolio/web/amazon-mechanical-turk"><img alt="Feature" src="/assets/feature_002.png"></a>
      <div class="item_desc">
        <h4><a href="http://www.intridea.com/portfolio/web/amazon-mechanical-turk">
				<strong>Amazon Mechanical Turk</strong> 
				<em>User experience and interface design for one of the largest crowdsourcing platforms</em>
			</a>
		</h4>
      </div>
    </div>
</div>
