		<p class="service-desc">Exceptional development on the web is done 
with cutting-edge technologies like Ruby on Rails, 
		  Backbone.js, Node.js, Python, Hadoop and other modern frameworks. We're 
		polyglots - we stand at the frontier of web design and 
development, leveraging the benefits of these frameworks for rapid 
application development. </p>
