<div class="item_img">
  <a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow">
			<%= image_tag "large_002.png", :title => "Large" %>
		</a>
  <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
</div>
<div class="item_desc">
  <h4><a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow"><strong><%= blog_post.title %></strong></a></h4>
  <p><%= truncate(blog_post.body, length: 140)%></p>
</div>
