<div class="item_img">
  
		<%= link_to(image_tag(blog_post.image_url, :title => "Large"), post_path(blog_post)) %>

  <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
</div>
<div class="item_desc">
  <h4><strong><%= link_to blog_post.title, post_path(blog_post) %></strong></h4>
  <p><%= truncate(blog_post.body, length: 140)%></p>
</div>
