<div id="twitter" class="">
	<h2 class="section-title"><strong>Twitter</strong> Follow us  <a href="http://www.twitter.com/<%= @guest_setting.twitter %>">@<%= @guest_setting.twitter %></a></h2>										
	<div class="main clearfix">
		<ul class="clearfix">

		</ul>
	</div>
</div>
