<a href="http://www.omniauth.org/">
			<%= image_tag undertaking_summary.image_url, :title => "Feature" %>		
		  </a>
<div class="item_desc">
  <h4><a href="http://www.omniauth.org/"><strong><%= undertaking_summary.title %></strong> <em><%= undertaking_summary.slogan %></em></a></h4>
  <p><%= truncate(undertaking_summary.body, length: 140)%></p>

</div>
