<!-- desktop/phone image/description-->
<div class="span-2 omega hidden-tablet">
	<div class="port-photo">
		<%= image_tag "http://fpoimg.com/578x391?text=port-photo+desktop/phone+hidden-tablet+it", :title => "Medium" %>
		
	</div>

	<div class="visible-phone case-study-title">
			<h2><%= desktop_phone_image_description.title %></h2>
			<h3 class="proj-desc"><%= desktop_phone_image_description.one_line_project_description %></h3>
	</div>

	<div class="hidden-tablet case-study-description">
	  <p><%= desktop_phone_image_description.body %></p>

	</div>

</div>
