	<div id="sub_nav" class="portfolio_nav">
  
	  <ul class="visible-desktop nav clearfix">
		    <li><a id="link_all" value="all" href="/portfolio/">Show All</a></li>
		    <li><a id="link_web" value="web" href="/portfolio/#web">Web</a></li>
		    <li><a id="link_mobile" value="mobile" href="/portfolio/#mobile">Mobile</a></li>
		    <li><a id="link_labs" value="labs" href="/portfolio/#labs">Labs</a></li>
	  </ul>


	  <div class="visible-tablet styled-select">
	      <select id="selP8I" class="chzn_select tablet_subnav portfolio_filter_main chzn-done" style="width: 160px; display: none;"> 
	          <option selected="selected"><%= sub_nav.title %></option>
	          <option value="all" data-filter="*">Show All</option>
	    		<option value="web">Web</option>
	    		<option value="mobile">Mobile</option>
	    		<option value="labs">Labs</option>						
		  </select>
			<div style="width: 160px;" class="chzn-container chzn-container-single" id="selP8I_chzn">
				<a href="javascript:void(0)" class="chzn-single">
					<span><%= sub_nav.title %></span>
					<div>
						<b></b>
					</div>
				</a>
				<div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;">
					<div style="" class="chzn-search">
						<input style="width: 125px;" autocomplete="off" type="text">
					</div>
					<ul class="chzn-results">
						<li id="selP8I_chzn_o_0" class="active-result result-selected" style=""><%= sub_nav.title %></li>
						<li id="selP8I_chzn_o_1" class="active-result" style="">Show All</li>
						<li id="selP8I_chzn_o_2" class="active-result" style="">Web</li>
						<li id="selP8I_chzn_o_3" class="active-result" style="">Mobile</li>
						<li id="selP8I_chzn_o_4" class="active-result" style="">Labs</li>
					</ul>
				</div>
			</div>
	    	<div style="display:none">
	    	  <li><a id="link_all" value="all" href="/portfolio/">Show All</a></li>
	    	  <li><a id="link_web" value="web" href="/portfolio/#web">Web</a></li>
	    	  <li><a id="link_mobile" value="mobile" href="/portfolio/#mobile">Mobile</a></li>
	    	  <li><a id="link_labs" value="labs" href="/portfolio/#labs">Labs</a></li>
	      	</div>
	  </div>
  
    </div>
