<!-- tablet image/description-->
<div class="span-3 omega visible-tablet">
	<div class="port-photo">
		<%= image_tag "http://fpoimg.com/578x391?text=port-photo+desktop/phone+hidden-tablet+it", :title => "Medium" %>
		
	</div>

	<div class="visible-desktop case-study-description">
	  <p><%= @project.body %></p>

	</div>
	
