<%# render :partial => 'project_summary' %>
          

<div id="content" class="main portfolio clearfix ">
	<div id="sub_nav" class="portfolio_nav">
  
  <ul class="visible-desktop nav clearfix">
<li class="active nav_all"><a value="all" href="#" data-filter="*" class="filter all">Show All</a></li>
	    <li class="nav_web"><a value="web" href="#" data-filter=".web" class="filter web">Web</a></li>
	    <li class="nav_mobile"><a value="mobile" href="#" data-filter=".mobile" class="filter mobile">Mobile</a></li>
	    <li class="nav_labs"><a value="labs" href="#" data-filter=".labs" class="filter labs">Labs</a></li>
  </ul>
<div class="visible-tablet styled-select">
      <select id="selN34" class="chzn_select tablet_subnav portfolio_filter chzn-done" style="width: 160px; display: none;"><option value="all" data-filter="*" selected="selected">Show All</option>
<option value="web" data-filter=".web">Web</option>
<option value="mobile" data-filter=".mobile">Mobile</option>
<option value="labs" data-filter=".labs">Labs</option></select><div style="width: 160px;" class="chzn-container chzn-container-single" id="selN34_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Show All</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="selN34_chzn_o_0" class="active-result result-selected" style="">Show All</li><li id="selN34_chzn_o_1" class="active-result" style="">Web</li><li id="selN34_chzn_o_2" class="active-result" style="">Mobile</li><li id="selN34_chzn_o_3" class="active-result" style="">Labs</li></ul></div></div>
</div>
  
  </div>
    <ul class="card_gallery clearfix">
		<%= render :partial => "project_summary", :collection => @projects %>
  </ul>
</div>


<div class="clearfix">
		<div class="hidden-phone">
<h2 class="section-title">
<strong>Services</strong> Beautiful Software Solutions</h2>
<div class="main sidebar full service-tablet clearfix">
	<div class="portfolio_item"> 
  		<h3><a href="http://www.intridea.com/services/design">Web &amp; Mobile Design</a></h3>
		<h4 class="visible-desktop">Research, Analysis and Usable Design</h4>
		<div class="tablet-icn">
			<a href="http://www.intridea.com/services/design"><img alt="Icon_user_interface_design_2x" class="icn-services" src="intridea_com_portfolio_files/icon_user_interface_design_2x-a823c3751807a801a11c0ad1e88a97.png"></a>
		</div>
		<p class="service-desc">Your customers interact with 
		hundreds of brands every day. 
		Yet, only a few of these 
interactions are memorable. This is why the experience they share with 
your brand is so important. An average user experience will yield 
average results. Give them a 
memorable one, though, and you’ll have a customer for life. </p>
	</div>
	
	<div class="portfolio_item">
		<h3><a href="http://www.intridea.com/services/development">Web Development</a></h3>
		<h4 class="visible-desktop">Rails, Backbone.js, Node.js</h4>
		<div class="tablet-icn">
			<a href="http://www.intridea.com/services/development"><img alt="Icon_ror_development_2x" class="icn-services" src="intridea_com_portfolio_files/icon_ror_development_2x-aa72a772459ddc38db7299c4f29d5353.png"></a>
		</div>
		<p class="service-desc">Exceptional development on the web is done 
with cutting-edge technologies like Ruby on Rails, 
		  Backbone.js, Node.js, Python, Hadoop and other modern frameworks. At
 Intridea, we're polyglots - we stand at the frontier of web design and 
development, leveraging the benefits of these frameworks for rapid 
application development. </p>
	</div>
	
	<div class="portfolio_item omega clearfix">
		<h3><a href="http://www.intridea.com/services/mobile">Mobile Development</a></h3>
		<h4 class="visible-desktop">iOS - iPhone &amp; iPad, Android</h4>
		<div class="tablet-icn mobile">
			<a href="http://www.intridea.com/services/mobile"><img alt="Icon_mobile_app_development_2x" class="icn-services" src="intridea_com_portfolio_files/icon_mobile_app_development_2x-54032f0a568455f46bb2435166118.png"></a>
		</div>
		<p class="service-desc">Smart companies realize the value in being 
where their customers are. Today, that place is the mobile web. As your 
customer's expectations grow, your absence becomes even more likely to 
be filled by your competitors. We'll help you reach your customers with 
elegant and intuitive mobile applications.</p>
	</div>
</div>
</div>
<!-- phone service -->
<section id="service-home" class="visible-phone clearfix"><h2 class="section-title">
<strong>Services</strong> Beautiful Software Solutions</h2>
	<div class="sidebar clearfix">
		<ul>
<li class="design">
				<a href="http://www.intridea.com/services/design"><img alt="Icon_user_interface_design_2x" class="icn-services" src="intridea_com_portfolio_files/icon_user_interface_design_2x-a823c3751807a801a11c0ad1e88a97.png"></a>
				<p class="longer">User Interface Design</p>
			</li>
			<li class="rails">
				<a href="http://www.intridea.com/services/development"><img alt="Icon_ror_development_2x" class="icn-services" src="intridea_com_portfolio_files/icon_ror_development_2x-aa72a772459ddc38db7299c4f29d5353.png"></a>
				<p>Ruby on Rails Development</p>
			</li>
			<li class="mobile">
				<a href="http://www.intridea.com/services/mobile"><img alt="Icon_mobile_app_development_2x" class="icn-services" src="intridea_com_portfolio_files/icon_mobile_app_development_2x-54032f0a568455f46bb2435166118.png"></a>
				<p>Mobile App Development</p>
			</li>
			<li class="training">
	  			<a href="http://www.intridea.com/training"><img alt="Icon_ror_training_2x" class="icn-services" src="intridea_com_portfolio_files/icon_ror_training_2x-645d5250553b5b574b1fcd185ec77734.png"></a>
				<p>Ruby on Rails Training</p>
			</li>
		</ul>
<h3>We build custom web and mobile applications</h3>
		<div id="content">
			<p class="hidden-phone">To compete in this disruptive business world 
you need a serious edge. Great applications give you that edge. At 
Intridea, we work with companies around the world to create custom 
software solutions that are both beautiful <em>and</em> robust, giving companies the edge they need to thrive in any industry. </p>
			<a href="http://www.intridea.com/services" class="btn blue small visible-desktop">Learn More</a>
		</div>			
	</div>
</section><h2 class="section-title">
<strong>Clients</strong> From Startups to Giants</h2>

<div id="client_bar" class="main clearfix">
  <ul class="visible-desktop">
<li>AARP</li>
    <li>Accenture</li>
    <li>Agilysys</li>
    <li><a href="http://www.intridea.com/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/betterfly">Betterfly</a></li>
    <li>Bureau of Labor Statistics</li>
  </ul>
<ul class="visible-desktop">
<li>Comcast</li>
    <li>comScore</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li><a href="http://www.intridea.com/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>Gannett</li>
    <li>Geico</li>
    <li>Gulfstream</li>
    <li><a href="http://www.intridea.com/portfolio/web/homezada">HomeZada</a></li>
  </ul>
<ul class="visible-desktop">
<li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp; Company</li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="http://www.intridea.com/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
  </ul>
<ul class="visible-desktop">
<li><a href="http://www.intridea.com/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
    <li>PPR</li>
    <li>Razoo</li>
    <li>Retail Benefits</li>
    <li>Safeway</li>
    <li>Schlumberger</li>
    <li><a href="http://www.intridea.com/portfolio/web/scalr">Scalr</a></li>
  </ul>
<ul class="visible-desktop last">
<li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="http://www.intridea.com/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
  </ul>
<ul class="hidden-desktop first">
<li>AARP</li>
    <li>Accenture</li>
    <li><a href="http://www.intridea.com/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/betterfly">Betterfly</a></li> 
  	<li>Bureau of Labor Statistics</li>
    <li>Comcast</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li>DubMeNow</li>
    <li><a href="http://www.intridea.com/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>ForumOne</li>
    <li>Gannett</li>
  </ul>
<ul class="hidden-desktop">
<li>Geico</li>
   	<li>Gulfstream</li>
    <li><a href="http://www.intridea.com/portfolio/web/homezada">HomeZada</a></li>
    <li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp;<br> Company</li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="http://www.intridea.com/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="http://www.intridea.com/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
    <li><a href="http://www.intridea.com/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
  </ul>
<ul class="hidden-desktop last">
<li>PPR</li>
    <li>Razoo</li>
    <li>Recnation</li>
  	<li>Retail Benefits</li>
    <li>Safeway</li>
    <li><a href="http://www.intridea.com/portfolio/web/scalr">Scalr</a></li>
    <li>Schlumberger</li>
    <li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="http://www.intridea.com/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="http://www.intridea.com/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
    <a href="http://www.intridea.com/contact" class="btn blue small visible-tablet">Get in Touch</a>
  </ul>
</div>

</div>

