<h2 class="section-title">
<strong>Events</strong> We stay active</h2>										
<div id="portfolio_bar" class="main clearfix">
        <div class="portfolio_item alpha  ">
	<div class="item_img">
  			    	<a href="http://strataconf.com/strataeu2013/"><img alt="Medium" src="/assets/strata.png"></a>
        			<span class="author-bubble">Nov 11, 2013<span class="arrow"></span></span>
  			</div>
	<div class="item_desc">
		<p></p>
	</div>
  		</div>
        <div class="portfolio_item omega  ">
  			<div class="item_img">
  				<a href="http://thenextweb.com/conference/usa"><img alt="Medium" src="/assets/tnw.png"></a>
        		<span class="author-bubble">Oct 01, 2013<span class="arrow"></span></span>
  			</div>
  			<div class="item_desc">
  			    	<p>Join 1000+ attendees and the finest industry speakers. 
				Discover the latest trends in mobile and web and learn about best 
				business practic...</p>
  			    </div>
  			</div>
</div>
