<div class="header-description clearfix">
	<h2>The Technological Zeitgeist</h2>
	<p>Our love of beautiful code and aesthetic design doesn't end with 
our workday; our obsession with technology means that we are often the 
earliest experts in emerging frameworks.</p>
</div>
