<div class="header-description clearfix">
	<h2>The Technological Zeitgeist</h2>
	<p>Our love of beautiful code and aesthetic design doesn't end with 
our workday; our obsession with technology means that we are often the 
earliest experts in emerging frameworks. We spend our after-hours 
learning new technologies, sharing our expertise at conferences, 
training fledgling developers and designers, creating and supporting 
open source software and writing on our blog.</p>
</div>
