<div class="portfolio_item omega marg-norm">
		<%= link_to image_tag(open_source_project.logo_url, :title => open_source_project.title), project_path(open_source_project) %>
		<div class="item_desc">
		<h4><strong><%= open_source_project.title %></strong></h4>
  	<p><%= open_source_project.slogan %></p>
	</div>
</div>
