<!-- Open Source -->
<h2 class="section-title">
<strong>Open Source Projects</strong> We give back</h2>										
<div id="portfolio_bar" class="main clearfix">
    <div class="portfolio_item alpha ">
  		    	<a href="http://<%= @guest_setting.title %>.github.com/stately/"><img alt="Medium" src="/assets/stately.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>Stately</strong></h4>
  		      	<p>A web font for making simple maps using HTML and CSS.</p>
  		    	</div>
  		  	</div>
    <div class="portfolio_item omega ">
  		    	<a href="http://<%= @guest_setting.title %>.github.com/omniauth/"><img alt="Medium" src="/assets/omniauth.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>OmniAuth</strong></h4>
  		      	<p>A flexible authentication system utilizing Rack middleware. </p>
  		    	</div>
  		  	</div>
    <div class="portfolio_item alpha marg-norm">
  		    	<a href="http://<%= @guest_setting.title %>.github.com/grape/"><img alt="Medium" src="/assets/grape.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>Grape</strong></h4>
  		      	<p>An opinionated micro-framework for creating REST-like APIs in Ruby</p>
  		    	</div>
  		  	</div>
    <div class="portfolio_item omega marg-norm">
  		    	<a href="https://github.com/<%= @guest_setting.title %>/tweetstream"><img alt="Medium" src="/assets/tweetstream.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>TweetStream</strong></h4>
  		      	<p>A RubyGem to access the Twitter Streaming API</p>
  		    	</div>
  		  	</div>
</div> 
