<h3>Past Events</h3>
		<ul class="post-list">
			<li>
  					<h4><a href="http://gogaruco.com/">GoGaRuCo</a></h4>
  					<div class="meta">
  						Join us for two days of in-depth technical expl...
  					</div>
  				</li>
		    <li>
  					<h4><a href="http://www.businessanalyticsstrategiessummit.com/">Business Analytics Strategies Summit</a></h4>
  					<div class="meta">
  						
  					</div>
  				</li>
		    <li>
  					<h4><a href="http://mobileuxcamp.com/">MobileUXCamp DC</a></h4>
  					<div class="meta">
  						MobileUX Camp DC brings together people from th...
  					</div>
  				</li>
		    <li>
  					<h4><a href="http://smashingconf.com/">Smashing Conference 2013</a></h4>
  					<div class="meta">
  						We're sponsoring this event led by Smashing Mag...
  					</div>
  				</li>
		</ul>
		<a href="/community/events" class="btn blue more-event">See More Events</a>
