<h3>Popular Blog Posts</h3>
		<ul class="post-list">
			<li>
  					<h4>
<a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow">See You At MobileUXCamp DC Tomorrow!</a> 
				</h4>
  						<div class="meta">
  							by Robert Dempsey | September 13, 2013 
  						</div>
  				</li>
		    <li>
  					<h4>
<a href="/blog/2011/8/18/whats-wrong-with-patents">What's Wrong With Patents? It's Obvious.</a> 
				</h4>
  					<div class="meta">
  						by Michael Bleigh | August 18, 2011 
  					</div>
  				</li>
		    <li>
  					<h4>
					<a href="/blog/2010/4/7/ipad-wallpaper-photoshop-template">
						iPad Wallpaper Template for Photoshop
					</a> 
				</h4>
  					<div class="meta">
  						by Dave Potsiadlo | April  7, 2010 
  					</div>
  				</li>
		    <li>
  					<h4>
					<a href="/blog/2011/5/13/rails3-gems">Rails 3: Fully Loaded</a> 
				</h4>
  					<div class="meta">
  						by Andy Wang | May 13, 2011 
  					</div>
  				</li>
		</ul>
