<h3>Presentation Slides (19)</h3>
<select style="display: none;" class="chzn_select chzn-done" id="slide_url" name="slide_url">
	<option selected="selected" value="http://cl.ly/221H1U193K1x">Tablet as a Utility</option>
	<option value="http://speakerdeck.com/u/<%= @guest_setting.title %>/p/<%= @guest_setting.title %>-modevux">MoDevUX 2012</option>
	<option value="http://www.slideshare.net/mbleigh/omniauth-from-the-ground-up-railsconf-2011">
		OmniAuth: From the Ground Up (RailsConf 2011)
	</option>
	<option value="http://www.slideshare.net/mbleigh/omniauth-from-the-ground-up">
		OmniAuth: From the Ground Up (Red Dirt Ruby Conf 2011)
	</option>
	<option value="http://www.slideshare.net/mbleigh/th-5784985">
		The Grapes of Rapid (Ruby Conf 2010)
	</option>
	<option value="http://www.slideshare.net/mbleigh/upgrading-to-rails-3">
		Upgrading to Rails 3 (OSCON 2010)
	</option>
	<option value="http://www.slideshare.net/mbleigh/interoperable-web-4778065">
		Deciphering the Interoperable Web (Ruby Midwest 2010)
	</option>
	<option value="http://www.slideshare.net/mbleigh/the-present-future-of-oauth">
		The Present Future of OAuth (RailsConf 2010)
	</option>
	<option value="http://www.slideshare.net/mbleigh/nodejs-and-ruby">Node.js and Ruby</option>
	<option value="http://www.slideshare.net/mbleigh/persistence-smoothie-blending-sql-and-nosql-rubynation-edition">
		Persistence Smoothie: Blending SQL and NoSQL (RubyNation 2010)
	</option>
	<option value="http://www.slideshare.net/mbleigh/persistence-smoothie">
		Persistence Smoothie (Confoo 2010, Montreal)
	</option>
	<option value="http://www.slideshare.net/mbleigh/twitter-on-rails-1396030">
		Twitter on Rails (RailsConf 2009)
	</option>
	<option value="http://www.slideshare.net/mbleigh/hacking-the-midend-advanced-rails-ui-techniques-presentation">
		Hacking the Mid-End (RailsConf Europe 2008)
	</option>
	<option value="https://speakerdeck.com/u/jch/p/evented-ruby-vs-nodejs">
		Evented Ruby vs Node.js (RailsConf 2012)
	</option>
	<option value="http://blog.peteonrails.com/?p=253">Intro to Spatial Programming</option>
	<option value="https://speakerdeck.com/u/peteonrails/p/location-matters-rubynation">
		Location Matters (RubyNation 2012)
	</option>
	<option value="http://www.slideshare.net/brendanlim/macruby-to-the-max-3530772">
		MacRuby to the Max
	</option>
	<option value="http://www.slideshare.net/mbleigh/divshot-pitch-deck">Divshot</option>
	<option				
	value="http://www.slideshare.net/skyfallsin/the-big-wave-of-indian-startups-almost-effortless-entrepreneurship-using-ruby">
		The Big Wave of Indian Startups
	</option>
</select>

<div style="width: 240px;" class="chzn-container chzn-container-single" id="slide_url_chzn">
	<a href="javascript:void(0)" class="chzn-single">
			<span>Tablet as a Utility</span>
			<div><b></b></div>
	</a>
	<div class="chzn-drop" style="left: -9000px; width: 240px; top: 37px;">
		<div style="" class="chzn-search">
			<input style="width: 205px;" autocomplete="off" type="text">
		</div>
		<ul class="chzn-results">
			<li id="slide_url_chzn_o_0" class="active-result result-selected" style="">
				Tablet as a Utility
			</li>
			<li id="slide_url_chzn_o_1" class="active-result" style="">MoDevUX 2012</li>
			<li id="slide_url_chzn_o_2" class="active-result" style="">OmniAuth: From the Ground Up (RailsConf 2011)</li>
			<li id="slide_url_chzn_o_3" class="active-result" style="">OmniAuth: From the Ground Up (Red Dirt Ruby Conf 2011)</li>
			<li id="slide_url_chzn_o_4" class="active-result" style="">The Grapes of Rapid (Ruby Conf 2010)</li>
			<li id="slide_url_chzn_o_5" class="active-result" style="">Upgrading to Rails 3 (OSCON 2010)</li>
			<li id="slide_url_chzn_o_6" class="active-result" style="">Deciphering the Interoperable Web (Ruby Midwest 2010)</li>
			<li id="slide_url_chzn_o_7" class="active-result" style="">The Present Future of OAuth (RailsConf 2010)</li>
			<li id="slide_url_chzn_o_8" class="active-result" style="">Node.js and Ruby</li>
			<li id="slide_url_chzn_o_9" class="active-result" style="">Persistence Smoothie: Blending SQL and NoSQL (RubyNation 2010)</li>
			<li id="slide_url_chzn_o_10" class="active-result" style="">Persistence Smoothie (Confoo 2010, Montreal)</li>
			<li id="slide_url_chzn_o_11" class="active-result" style="">Twitter on Rails (RailsConf 2009)</li>
			<li id="slide_url_chzn_o_12" class="active-result" style="">Hacking the Mid-End (RailsConf Europe 2008)</li>
			<li id="slide_url_chzn_o_13" class="active-result" style="">Evented Ruby vs Node.js (RailsConf 2012)</li>
			<li id="slide_url_chzn_o_14" class="active-result" style="">Intro to Spatial Programming</li>
			<li id="slide_url_chzn_o_15" class="active-result" style="">Location Matters (RubyNation 2012)</li>
			<li id="slide_url_chzn_o_16" class="active-result" style="">MacRuby to the Max</li>
			<li id="slide_url_chzn_o_17" class="active-result" style="">Divshot</li>
			<li id="slide_url_chzn_o_18" class="active-result" style="">The Big Wave of Indian Startups</li>
		</ul>
	</div>
</div>
