<!-- Sponsored Projects -->
<h2 class="section-title">
<strong>Sponsored Projects</strong> We help sustain others</h2>										
<div id="portfolio_bar" class="main clearfix">
    <div class="portfolio_item alpha">
  		    	<a href="http://pry.github.com/"><img alt="Medium" src="/assets/pry.png"></a>
  		    	<div class="item_desc">
  		      		<h4><strong>Pry</strong></h4>
  		      		<p>Pry is a powerful alternative to the standard IRB shell for Ruby.</p>
  		    	</div>
  		  </div>
    <div class="portfolio_item omega">
  		    	<a href="http://foster.ly/"><img alt="Medium" src="/assets/fosterly.png"></a>
  		    	<div class="item_desc">
  		      		<h4><strong>Foster.ly</strong></h4>
  		      		<p>Foster.ly is a community of entrepreneurs in DC, Maryland and Virginia.</p>
  		    	</div>
  		  </div>
</div>

