<% content_for :masthead_container do -%>
  community_container
<% end -%>

          <div id="flash">
</div>
          
<div class="main sidebar clearfix masthead" data-masthead-image="">
	<div id="sub_nav">
  <ul class="visible-desktop nav clearfix">
<li class="active"><a href="/community">Intridea Community</a></li>
    <li class=""><a href="/community/events">Events</a></li>
    <li class=""><a href="/community/opensource">OSS Projects</a></li>
  </ul>
<div class="visible-tablet styled-select">
    <select class="chzn_select tablet_subnav chzn-done" id="community_sub_nav_url" name="community_sub_nav_url" style="width: 160px; display: none;"><option value="/community" selected="selected">Intridea Community</option>
<option value="/community/events">Events</option>
<option value="/community/opensource">OSS Projects</option></select><div style="width: 160px;" class="chzn-container chzn-container-single" id="community_sub_nav_url_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Intridea Community</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="community_sub_nav_url_chzn_o_0" class="active-result result-selected" style="">Intridea Community</li><li id="community_sub_nav_url_chzn_o_1" class="active-result" style="">Events</li><li id="community_sub_nav_url_chzn_o_2" class="active-result" style="">OSS Projects</li></ul></div></div>
</div>
</div>
	<div class="header-description clearfix">
		<h2>The Technological Zeitgeist</h2>
		<p>Our love of beautiful code and aesthetic design doesn't end with 
our workday; our obsession with technology means that we are often the 
earliest experts in emerging frameworks. We spend our after-hours 
learning new technologies, sharing our expertise at conferences, 
training fledgling developers and designers, creating and supporting 
open source software and writing on our blog.</p>
	</div>
</div>

<div class="clearfix">
	<div class="community-wrap clearfix">
		
		<h2 class="section-title">
<strong>Events</strong> We stay active</h2>										
		<div id="portfolio_bar" class="main clearfix">
        <div class="portfolio_item alpha  ">
  			    <div class="item_img">
  			    	<a href="http://strataconf.com/strataeu2013/"><img alt="Medium" src="intridea_com_community_files/medium_008.png"></a>
        			<span class="author-bubble">Nov 11, 2013<span class="arrow"></span></span>
  			    </div>
  			    <div class="item_desc">
  			    	<p></p>
  			    </div>
  			</div>
        <div class="portfolio_item omega  ">
  			    <div class="item_img">
  			    	<a href="http://thenextweb.com/conference/usa"><img alt="Medium" src="intridea_com_community_files/medium_006.png"></a>
        			<span class="author-bubble">Oct 01, 2013<span class="arrow"></span></span>
  			    </div>
  			    <div class="item_desc">
  			    	<p>Join 1000+ attendees and the finest industry speakers. 
Discover the latest trends in mobile and web and learn about best 
business practic...</p>
  			    </div>
  			</div>
		</div>
		
		<!-- Open Source -->
		<h2 class="section-title">
<strong>Open Source Projects</strong> We give back</h2>										
		<div id="portfolio_bar" class="main clearfix">
		    <div class="portfolio_item alpha ">
  		    	<a href="http://intridea.github.com/stately/"><img alt="Medium" src="intridea_com_community_files/medium_005.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>Stately</strong></h4>
  		      	<p>A web font for making simple maps using HTML and CSS.</p>
  		    	</div>
  		  	</div>
		    <div class="portfolio_item omega ">
  		    	<a href="http://intridea.github.com/omniauth/"><img alt="Medium" src="intridea_com_community_files/medium_004.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>OmniAuth</strong></h4>
  		      	<p>A flexible authentication system utilizing Rack middleware. </p>
  		    	</div>
  		  	</div>
		    <div class="portfolio_item alpha marg-norm">
  		    	<a href="http://intridea.github.com/grape/"><img alt="Medium" src="intridea_com_community_files/medium.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>Grape</strong></h4>
  		      	<p>An opinionated micro-framework for creating REST-like APIs in Ruby</p>
  		    	</div>
  		  	</div>
		    <div class="portfolio_item omega marg-norm">
  		    	<a href="https://github.com/intridea/tweetstream"><img alt="Medium" src="intridea_com_community_files/medium_003.png"></a>
  		    	<div class="item_desc">
  		    		<h4><strong>TweetStream</strong></h4>
  		      	<p>A RubyGem to access the Twitter Streaming API</p>
  		    	</div>
  		  	</div>
		</div> 
		
		<!-- Sponsored Projects -->
		<h2 class="section-title">
<strong>Sponsored Projects</strong> We help sustain others</h2>										
		<div id="portfolio_bar" class="main clearfix">
		    <div class="portfolio_item alpha">
  		    	<a href="http://pry.github.com/"><img alt="Medium" src="intridea_com_community_files/medium_002.png"></a>
  		    	<div class="item_desc">
  		      		<h4><strong>Pry</strong></h4>
  		      		<p>Pry is a powerful alternative to the standard IRB shell for Ruby.</p>
  		    	</div>
  		  </div>
		    <div class="portfolio_item omega">
  		    	<a href="http://foster.ly/"><img alt="Medium" src="intridea_com_community_files/medium_007.png"></a>
  		    	<div class="item_desc">
  		      		<h4><strong>Foster.ly</strong></h4>
  		      		<p>Foster.ly is a community of entrepreneurs in DC, Maryland and Virginia.</p>
  		    	</div>
  		  </div>
		</div>
		
		<!-- 
		<h2 class="section-title"><strong>Community Box</strong> Is this supposed to be here? </h2> 
		<ul class="community_box clearfix" style="padding-left: 3px;"> 
		    <li class=>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/12/thumb.png?1360081864" />
		      <h2>Stately</h2>
		      <p>A web font for making simple maps using HTML and CSS.</p>
		      <p class="button"><a href="http://intridea.github.com/stately/">View Source &raquo;</a></p>
		    </li>
		    <li class=even>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/3/thumb.png?1343158496" />
		      <h2>OmniAuth</h2>
		      <p>A flexible authentication system utilizing Rack middleware. </p>
		      <p class="button"><a href="http://intridea.github.com/omniauth/">View Source &raquo;</a></p>
		    </li>
		    <li class=>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/6/thumb.png?1343158463" />
		      <h2>Grape</h2>
		      <p>An opinionated micro-framework for creating REST-like APIs in Ruby</p>
		      <p class="button"><a href="http://intridea.github.com/grape/">View Source &raquo;</a></p>
		    </li>
		    <li class=even>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/7/thumb.png?1337285463" />
		      <h2>Multi_json</h2>
		      <p>A generic, swappable back-end for  JSON handling. </p>
		      <p class="button"><a href="https://github.com/intridea/multi_json">View Source &raquo;</a></p>
		    </li>
		    <li class=>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/2/thumb.png?1337285513" />
		      <h2>Pry</h2>
		      <p>Pry is a powerful alternative to the standard IRB shell for Ruby.</p>
		      <p class="button"><a href="http://pry.github.com/">View Source &raquo;</a></p>
		    </li>
		    <li class=even>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/1/thumb.png?1337285530" />
		      <h2>Foster.ly</h2>
		      <p>Foster.ly is a community of entrepreneurs in DC, Maryland and Virginia.</p>
		      <p class="button"><a href="http://foster.ly">View Source &raquo;</a></p>
		    </li>
		    <li class=>
		      <img src="http://s3.amazonaws.com/intridea-responsive/production/projects/images/5/thumb.png?1337285231" />
		      <h2>TweetStream</h2>
		      <p>A RubyGem to access the Twitter Streaming API</p>
		      <p class="button"><a href="https://github.com/intridea/tweetstream">View Source &raquo;</a></p>
		    </li>
		</ul>
		-->
		
	</div>
		<div class="community-side visible-desktop">
		<div class="sidebar clearfix">
			<h3>Presentation Slides (19)</h3>
			<select style="display: none;" class="chzn_select chzn-done" id="slide_url" name="slide_url"><option selected="selected" value="http://cl.ly/221H1U193K1x">Tablet as a Utility</option>
<option value="http://speakerdeck.com/u/intridea/p/intridea-modevux">MoDevUX 2012</option>
<option value="http://www.slideshare.net/mbleigh/omniauth-from-the-ground-up-railsconf-2011">OmniAuth: From the Ground Up (RailsConf 2011)</option>
<option value="http://www.slideshare.net/mbleigh/omniauth-from-the-ground-up">OmniAuth: From the Ground Up (Red Dirt Ruby Conf 2011)</option>
<option value="http://www.slideshare.net/mbleigh/th-5784985">The Grapes of Rapid (Ruby Conf 2010)</option>
<option value="http://www.slideshare.net/mbleigh/upgrading-to-rails-3">Upgrading to Rails 3 (OSCON 2010)</option>
<option value="http://www.slideshare.net/mbleigh/interoperable-web-4778065">Deciphering the Interoperable Web (Ruby Midwest 2010)</option>
<option value="http://www.slideshare.net/mbleigh/the-present-future-of-oauth">The Present Future of OAuth (RailsConf 2010)</option>
<option value="http://www.slideshare.net/mbleigh/nodejs-and-ruby">Node.js and Ruby</option>
<option value="http://www.slideshare.net/mbleigh/persistence-smoothie-blending-sql-and-nosql-rubynation-edition">Persistence Smoothie: Blending SQL and NoSQL (RubyNation 2010)</option>
<option value="http://www.slideshare.net/mbleigh/persistence-smoothie">Persistence Smoothie (Confoo 2010, Montreal)</option>
<option value="http://www.slideshare.net/mbleigh/twitter-on-rails-1396030">Twitter on Rails (RailsConf 2009)</option>
<option value="http://www.slideshare.net/mbleigh/hacking-the-midend-advanced-rails-ui-techniques-presentation">Hacking the Mid-End (RailsConf Europe 2008)</option>
<option value="https://speakerdeck.com/u/jch/p/evented-ruby-vs-nodejs">Evented Ruby vs Node.js (RailsConf 2012)</option>
<option value="http://blog.peteonrails.com/?p=253">Intro to Spatial Programming</option>
<option value="https://speakerdeck.com/u/peteonrails/p/location-matters-rubynation">Location Matters (RubyNation 2012)</option>
<option value="http://www.slideshare.net/brendanlim/macruby-to-the-max-3530772">MacRuby to the Max</option>
<option value="http://www.slideshare.net/mbleigh/divshot-pitch-deck">Divshot</option>
<option value="http://www.slideshare.net/skyfallsin/the-big-wave-of-indian-startups-almost-effortless-entrepreneurship-using-ruby">The Big Wave of Indian Startups</option></select><div style="width: 240px;" class="chzn-container chzn-container-single" id="slide_url_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Tablet as a Utility</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 240px; top: 37px;"><div style="" class="chzn-search"><input style="width: 205px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="slide_url_chzn_o_0" class="active-result result-selected" style="">Tablet as a Utility</li><li id="slide_url_chzn_o_1" class="active-result" style="">MoDevUX 2012</li><li id="slide_url_chzn_o_2" class="active-result" style="">OmniAuth: From the Ground Up (RailsConf 2011)</li><li id="slide_url_chzn_o_3" class="active-result" style="">OmniAuth: From the Ground Up (Red Dirt Ruby Conf 2011)</li><li id="slide_url_chzn_o_4" class="active-result" style="">The Grapes of Rapid (Ruby Conf 2010)</li><li id="slide_url_chzn_o_5" class="active-result" style="">Upgrading to Rails 3 (OSCON 2010)</li><li id="slide_url_chzn_o_6" class="active-result" style="">Deciphering the Interoperable Web (Ruby Midwest 2010)</li><li id="slide_url_chzn_o_7" class="active-result" style="">The Present Future of OAuth (RailsConf 2010)</li><li id="slide_url_chzn_o_8" class="active-result" style="">Node.js and Ruby</li><li id="slide_url_chzn_o_9" class="active-result" style="">Persistence Smoothie: Blending SQL and NoSQL (RubyNation 2010)</li><li id="slide_url_chzn_o_10" class="active-result" style="">Persistence Smoothie (Confoo 2010, Montreal)</li><li id="slide_url_chzn_o_11" class="active-result" style="">Twitter on Rails (RailsConf 2009)</li><li id="slide_url_chzn_o_12" class="active-result" style="">Hacking the Mid-End (RailsConf Europe 2008)</li><li id="slide_url_chzn_o_13" class="active-result" style="">Evented Ruby vs Node.js (RailsConf 2012)</li><li id="slide_url_chzn_o_14" class="active-result" style="">Intro to Spatial Programming</li><li id="slide_url_chzn_o_15" class="active-result" style="">Location Matters (RubyNation 2012)</li><li id="slide_url_chzn_o_16" class="active-result" style="">MacRuby to the Max</li><li id="slide_url_chzn_o_17" class="active-result" style="">Divshot</li><li id="slide_url_chzn_o_18" class="active-result" style="">The Big Wave of Indian Startups</li></ul></div></div><h3>Open Source Projects (5)</h3>
			<select style="display: none;" class="chzn_select chzn-done" id="oos_project_url" name="oos_project_url"><option selected="selected" value="http://intridea.github.com/stately/">Stately</option>
<option value="http://intridea.github.com/omniauth/">OmniAuth</option>
<option value="http://intridea.github.com/grape/">Grape</option>
<option value="https://github.com/intridea/tweetstream">TweetStream</option>
<option value="https://github.com/intridea/multi_json">Multi_json</option></select><div style="width: 240px;" class="chzn-container chzn-container-single" id="oos_project_url_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Stately</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 240px; top: 37px;"><div style="" class="chzn-search"><input style="width: 205px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="oos_project_url_chzn_o_0" class="active-result result-selected" style="">Stately</li><li id="oos_project_url_chzn_o_1" class="active-result" style="">OmniAuth</li><li id="oos_project_url_chzn_o_2" class="active-result" style="">Grape</li><li id="oos_project_url_chzn_o_3" class="active-result" style="">TweetStream</li><li id="oos_project_url_chzn_o_4" class="active-result" style="">Multi_json</li></ul></div></div><h3>Popular Blog Posts</h3>
			<ul class="post-list">
<li>
  					<h4>
<a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow">See You At MobileUXCamp DC Tomorrow!</a> </h4>
  					<div class="meta">
  						by Robert Dempsey | September 13, 2013 
  					</div>
  				</li>
			    <li>
  					<h4>
<a href="/blog/2011/8/18/whats-wrong-with-patents">What's Wrong With Patents? It's Obvious.</a> </h4>
  					<div class="meta">
  						by Michael Bleigh | August 18, 2011 
  					</div>
  				</li>
			    <li>
  					<h4>
<a href="/blog/2010/4/7/ipad-wallpaper-photoshop-template">iPad Wallpaper Template for Photoshop</a> </h4>
  					<div class="meta">
  						by Dave Potsiadlo | April  7, 2010 
  					</div>
  				</li>
			    <li>
  					<h4>
<a href="/blog/2011/5/13/rails3-gems">Rails 3: Fully Loaded</a> </h4>
  					<div class="meta">
  						by Andy Wang | May 13, 2011 
  					</div>
  				</li>
			</ul>
<h3>Past Events</h3>
			<ul class="post-list">
<li>
  					<h4><a href="http://gogaruco.com/">GoGaRuCo</a></h4>
  					<div class="meta">
  						Join us for two days of in-depth technical expl...
  					</div>
  				</li>
			    <li>
  					<h4><a href="http://www.businessanalyticsstrategiessummit.com/">Business Analytics Strategies Summit</a></h4>
  					<div class="meta">
  						
  					</div>
  				</li>
			    <li>
  					<h4><a href="http://mobileuxcamp.com/">MobileUXCamp DC</a></h4>
  					<div class="meta">
  						MobileUX Camp DC brings together people from th...
  					</div>
  				</li>
			    <li>
  					<h4><a href="http://smashingconf.com/">Smashing Conference 2013</a></h4>
  					<div class="meta">
  						We're sponsoring this event led by Smashing Mag...
  					</div>
  				</li>
			</ul>
<a href="/community/events" class="btn blue more-event">See More Events</a>
			
			<a href="" class="hiring">We're Hiring</a>
		</div>
		<div class="main new-gig clearfix">
			<h3>Looking for a new gig?</h3>
			<p>Obsessed with good code and beautiful design? Do you value form as
 much as function? We do too. And we're looking for people like you.</p>
			<a href="/careers" class="btn green block large">View Open Positions</a>
		</div>
	</div>	

</div>
<h2 class="section-title">
<strong>Blog</strong> Technology, Design, Business</h2>										
<div id="portfolio_bar" class="main clearfix">
    <div class="portfolio_item blog-preview alpha ">
      <div class="item_img">
        <a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow"><img alt="Large" src="intridea_com_community_files/large_002.png"></a>
        <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
      </div>
      <div class="item_desc">
        <h4><a href="/blog/2013/9/13/see-you-at-mobileux-camp-dc-tomorrow"><strong>See You At MobileUXCamp DC Tomorrow!</strong></a></h4>
        <p>Join Brandon, Kathryn and me tomorrow at the Goethe-Institut / German Cultural Center for MobileUXCamp DC 2013.</p>
      </div>
    </div>
    <div class="portfolio_item blog-preview  visible-desktop">
      <div class="item_img">
        <a href="/blog/2013/8/29/so-long-madison-and-thanks-for-all-the-ruby"><img alt="Large" src="intridea_com_community_files/large.png"></a>
        <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
      </div>
      <div class="item_desc">
        <h4><a href="/blog/2013/8/29/so-long-madison-and-thanks-for-all-the-ruby"><strong>So Long Madison And Thanks For All The Ruby</strong></a></h4>
        <p>The excellent Madison Ruby conference is a wrap, but the fall
 conference season is just getting started. Find out where Intrideans 
are he...</p>
      </div>
    </div>
    <div class="portfolio_item blog-preview omega ">
      <div class="item_img">
        <a href="/blog/2013/8/15/creating-stately-a-symbol-font"><img alt="Large" src="intridea_com_community_files/large_003.png"></a>
        <a class="author-bubble" href="/about/team/robert-dempsey">Robert Dempsey <span class="arrow"></span></a>
      </div>
      <div class="item_desc">
        <h4><a href="/blog/2013/8/15/creating-stately-a-symbol-font"><strong>Creating Stately, A Symbol Font</strong></a></h4>
        <p>In this video, Ben Markowitz talks about creating his symbol font Stately, and how to use it.</p>
      </div>
    </div>
</div>

