<div id="flash">
</div>
          

<div id="content" class="main portfolio clearfix ">
	<div id="sub_nav" class="portfolio_nav">
  
  <ul class="visible-desktop nav clearfix">
<li class="active nav_all"><a value="all" href="#" data-filter="*" class="filter all">Show All</a></li>
	    <li class="nav_web"><a value="web" href="#" data-filter=".web" class="filter web">Web</a></li>
	    <li class="nav_mobile"><a value="mobile" href="#" data-filter=".mobile" class="filter mobile">Mobile</a></li>
	    <li class="nav_labs"><a value="labs" href="#" data-filter=".labs" class="filter labs">Labs</a></li>
  </ul>
<div class="visible-tablet styled-select">
      <select id="selN34" class="chzn_select tablet_subnav portfolio_filter chzn-done" style="width: 160px; display: none;"><option value="all" data-filter="*" selected="selected">Show All</option>
<option value="web" data-filter=".web">Web</option>
<option value="mobile" data-filter=".mobile">Mobile</option>
<option value="labs" data-filter=".labs">Labs</option></select><div style="width: 160px;" class="chzn-container chzn-container-single" id="selN34_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Show All</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="selN34_chzn_o_0" class="active-result result-selected" style="">Show All</li><li id="selN34_chzn_o_1" class="active-result" style="">Web</li><li id="selN34_chzn_o_2" class="active-result" style="">Mobile</li><li id="selN34_chzn_o_3" class="active-result" style="">Labs</li></ul></div></div>
</div>
  
  </div>
    <ul class="card_gallery clearfix">
      	<%= render partial: "undertaking", collection: @portfolio.undertakings %>
      <li class="element  web">
        <a href="http://www.intridea.com/amazon-mechanical-turk" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="/assets/large_017.png"><h4>
            <strong>Amazon Mechanical Turk</strong> The online market place for work
          </h4>
        </a>
      </li>

      <li class="element  mobile">
        <a href="http://www.intridea.com/mitsubishi-electric" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="/assets/large_016.png"><h4>
            <strong>Mitsubishi Electric</strong> iPad app for estimations and reporting
          </h4>
        </a>
      </li>
      <li class="element  web">
        <a href="http://www.intridea.com/watchparty" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="intridea_com_portfolio_files/large_009.png"><h4>
            <strong>WatchParty</strong> Why Watch TV Alone? 
          </h4>
        </a>
      </li>

      <li class="element  labs">
        <a href="http://www.intridea.com/railswizard" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="intridea_com_portfolio_files/large_018.png"><h4>
            <strong>RailsWizard</strong> Simple Rails Templates
          </h4>
        </a>
      </li>

      <li class="element  labs">
        <a href="http://www.intridea.com/smacksale" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="intridea_com_portfolio_files/large_007.png"><h4>
            <strong>Smacksale</strong> All the Right Deals
          </h4>
        </a>
      </li>
      <li class="element  web">
        <a href="http://www.intridea.com/scalr" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="intridea_com_portfolio_files/large_005.png"><h4>
            <strong>Scalr</strong> Cloud computing minus the sky
          </h4>
        </a>
      </li>
      <li class="element  mobile">
        <a href="http://www.intridea.com/oil-reporter" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="intridea_com_portfolio_files/large_006.png"><h4>
            <strong>Oil Reporter</strong> Help clean up the Gulf
          </h4>
        </a>
      </li>

      <li class="element  labs">
        <a href="http://www.intridea.com/qup" gt-evt="click" gt-cat="portfolio" gt-act="clients#click" gt-lbl="gallery">
          <img alt="Large" src="intridea_com_portfolio_files/large_021.png"><h4>
            <strong>QUP</strong> Email Alerts For Netflix Instant
          </h4>
        </a>
      </li>
  </ul>
</div>
<%= render :partial => "/shared/services" %>
