<article>
  <header>
    <p><time pubdate="pubdate"><%= @post.pubdate %></time></p>
    <h3><%= @post.title %></h3>
    <div class="entry_tags">Tags: 
      <%# post.tags.render(self) %>
    </div>
  </header>
  <%= @post.body %>
</article>
