<section class="blog home clearfix"><div class="main_column blog_wrapper">
  <hgroup class="visible-phone">
		<a href="/contact" class="btn blue">Get in Touch</a>
  </hgroup><div id="posts">
    <div id="post_items">
		<%= render :partial => "entry", :collection => @blog.entries %>
  	</div>
    
  	<!-- <div class="visible-desktop">
  	      <div class="paginator">
			    <a class="on">On</a>
			    <nav class="pagination"><span class="page current  away-82">
			  1
			</span>

			          <span class="page away-1  away-81">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=2" rel="next">2</a>
			</span>

			          <span class="page away-2  away-80">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=3">3</a>
			</span>

			          <span class="page away-3  away-79">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=4">4</a>
			</span>

			          <span class="page away-4  away-78">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=5">5</a>
			</span>

			          <span class="page away-5  away-77">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=6">6</a>
			</span>

			          <span class="page gap">…</span>

			          <span class="page away-77  away-5">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=78">78</a>
			</span>

			          <span class="page away-78  away-4">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=79">79</a>
			</span>

			          <span class="page away-79  away-3">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=80">80</a>
			</span>

			          <span class="page away-80  away-2">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=81">81</a>
			</span>

			          <span class="page away-81  away-1">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=82">82</a>
			</span>

			          <span class="page away-82  away-0">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=83">83</a>
			</span>

			      <span class="next">
			  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=2" rel="next">Next ›</a>
			</span>

			    </nav><a class="off">off</a>
  		</div>

  	</div> -->
  	  
		<!-- <div class="visible-tablet">
  	      <div class="paginator">
    <a class="on">On</a>
    <nav class="pagination"><span class="page current  away-82">
  1
</span>

          <span class="page away-1  away-81">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=2" rel="next">2</a>
</span>

          <span class="page away-2  away-80">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=3">3</a>
</span>

          <span class="page away-3  away-79">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=4">4</a>
</span>

          <span class="page gap">…</span>

          <span class="page away-78  away-4">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=79">79</a>
</span>

          <span class="page away-79  away-3">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=80">80</a>
</span>

          <span class="page away-80  away-2">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=81">81</a>
</span>

          <span class="page away-81  away-1">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=82">82</a>
</span>

          <span class="page away-82  away-0">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=83">83</a>
</span>

      <span class="next">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=2" rel="next">Next ›</a>
</span>

    </nav><a class="off">off</a>
  </div>

  	</div>
  -->   	
  	<!-- <div class="visible-phone">
  	      <div class="paginator">
    <a class="on">On</a>
    <nav class="pagination"><span class="page current  away-82">
  1
</span>

          <span class="page away-1  away-81">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=2" rel="next">2</a>
</span>

          <span class="page away-2  away-80">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=3">3</a>
</span>

          <span class="page away-3  away-79">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=4">4</a>
</span>

          <span class="page gap">…</span>

          <span class="page away-80  away-2">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=81">81</a>
</span>

          <span class="page away-81  away-1">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=82">82</a>
</span>

          <span class="page away-82  away-0">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=83">83</a>
</span>

      <span class="next">
  <a href="/blog?_pjax=%5Bdata-pjax-container%5D&amp;page=2" rel="next">Next ›</a>
</span>

    </nav><a class="off">off</a>
  </div>

  	</div>   -->
  	
  </div>    
	
	<div id="searchFlyout" class="search flyout">
	<h1>Lil' help? <span>Try searching for a blog post by keyword</span>
</h1>
	<form method="get" action="http://www.google.com/search">
    <input name="sitesearch" value="ruby" type="hidden"><input name="q" placeholder="Keyword, author, category, date..." type="text"><input value="Search" class="btn blue" type="submit">
</form>
	<span class="close">No thanks!</span>
</div>

</div>


<aside class="blog-sidebar visible-desktop visible-phone"><ul class="blog-connect clearfix hidden-phone">
<li><a href="/contact" class="btn blue" style="width:110px;">Get in Touch</a></li>
		<li><a href="http://feeds.feedburner.com/intridea" class="btn orange icn" style="width:40px;">
				<%= image_tag "rss.png", :title => "Rss", :size => "22x22" %>
			</a>
		</li>
		<li><a href="/about/newsletter" class="btn gray icn last" style="width:40px;">
				<%= image_tag "news.png", :title => "News", :size => "22x22" %>
			</a>
		</li>
	</ul>
<div class="sidebar">
		<span class="sidebar_item archives">
		<h3>Blog Archive</h3>
    	<select class="chzn_select chzn-done" id="blog_archive_url" name="blog_archive_url" style="width: 160px; display: none;"><option selected="">Select a month</option>
<option value="/blog/archives/2013/9">September 2013 (1)</option>
<option value="/blog/archives/2013/8">August 2013 (8)</option>
<option value="/blog/archives/2013/7">July 2013 (3)</option>
<option value="/blog/archives/2013/6">June 2013 (3)</option>
<option value="/blog/archives/2013/5">May 2013 (9)</option>
<option value="/blog/archives/2013/4">April 2013 (3)</option>
<option value="/blog/archives/2013/3">March 2013 (4)</option>
<option value="/blog/archives/2013/2">February 2013 (8)</option>
<option value="/blog/archives/2013/1">January 2013 (2)</option>
<option value="/blog/archives/2012/12">December 2012 (5)</option>
<option value="/blog/archives/2012/11">November 2012 (3)</option>
<option value="/blog/archives/2012/10">October 2012 (2)</option>
<option value="/blog/archives/2012/9">September 2012 (5)</option>
<option value="/blog/archives/2012/8">August 2012 (8)</option>
<option value="/blog/archives/2012/7">July 2012 (3)</option>
<option value="/blog/archives/2012/6">June 2012 (9)</option>
<option value="/blog/archives/2012/5">May 2012 (6)</option>
<option value="/blog/archives/2012/4">April 2012 (6)</option>
<option value="/blog/archives/2012/3">March 2012 (14)</option>
<option value="/blog/archives/2012/2">February 2012 (6)</option>
<option value="/blog/archives/2012/1">January 2012 (6)</option>
<option value="/blog/archives/2011/12">December 2011 (5)</option>
<option value="/blog/archives/2011/11">November 2011 (7)</option>
<option value="/blog/archives/2011/10">October 2011 (6)</option>
<option value="/blog/archives/2011/9">September 2011 (9)</option>
<option value="/blog/archives/2011/8">August 2011 (12)</option>
<option value="/blog/archives/2011/7">July 2011 (7)</option>
<option value="/blog/archives/2011/6">June 2011 (10)</option>
<option value="/blog/archives/2011/5">May 2011 (9)</option>
<option value="/blog/archives/2011/4">April 2011 (13)</option>
<option value="/blog/archives/2011/3">March 2011 (8)</option>
<option value="/blog/archives/2011/2">February 2011 (7)</option>
<option value="/blog/archives/2011/1">January 2011 (6)</option>
<option value="/blog/archives/2010/12">December 2010 (7)</option>
<option value="/blog/archives/2010/11">November 2010 (7)</option>
<option value="/blog/archives/2010/10">October 2010 (13)</option>
<option value="/blog/archives/2010/9">September 2010 (9)</option>
<option value="/blog/archives/2010/8">August 2010 (7)</option>
<option value="/blog/archives/2010/7">July 2010 (7)</option>
<option value="/blog/archives/2010/6">June 2010 (10)</option>
<option value="/blog/archives/2010/5">May 2010 (7)</option>
<option value="/blog/archives/2010/4">April 2010 (16)</option>
<option value="/blog/archives/2010/3">March 2010 (11)</option>
<option value="/blog/archives/2010/2">February 2010 (1)</option>
<option value="/blog/archives/2010/1">January 2010 (5)</option>
<option value="/blog/archives/2009/12">December 2009 (1)</option>
<option value="/blog/archives/2009/11">November 2009 (4)</option>
<option value="/blog/archives/2009/10">October 2009 (4)</option>
<option value="/blog/archives/2009/9">September 2009 (2)</option>
<option value="/blog/archives/2009/8">August 2009 (4)</option>
<option value="/blog/archives/2009/7">July 2009 (3)</option>
<option value="/blog/archives/2009/6">June 2009 (7)</option>
<option value="/blog/archives/2009/5">May 2009 (4)</option>
<option value="/blog/archives/2009/4">April 2009 (5)</option>
<option value="/blog/archives/2009/3">March 2009 (14)</option>
<option value="/blog/archives/2009/2">February 2009 (18)</option>
<option value="/blog/archives/2009/1">January 2009 (3)</option>
<option value="/blog/archives/2008/12">December 2008 (2)</option>
<option value="/blog/archives/2008/11">November 2008 (3)</option>
<option value="/blog/archives/2008/10">October 2008 (7)</option>
<option value="/blog/archives/2008/9">September 2008 (9)</option>
<option value="/blog/archives/2008/8">August 2008 (2)</option>
<option value="/blog/archives/2008/7">July 2008 (7)</option>
<option value="/blog/archives/2008/6">June 2008 (14)</option>
<option value="/blog/archives/2008/5">May 2008 (5)</option>
<option value="/blog/archives/2008/4">April 2008 (14)</option>
<option value="/blog/archives/2008/3">March 2008 (6)</option>
<option value="/blog/archives/2008/2">February 2008 (5)</option>
<option value="/blog/archives/2008/1">January 2008 (6)</option>
<option value="/blog/archives/2007/12">December 2007 (5)</option>
<option value="/blog/archives/2007/11">November 2007 (5)</option>
<option value="/blog/archives/2007/10">October 2007 (7)</option>
<option value="/blog/archives/2007/9">September 2007 (2)</option>
<option value="/blog/archives/2007/8">August 2007 (7)</option>
<option value="/blog/archives/2007/7">July 2007 (4)</option>
<option value="/blog/archives/2007/6">June 2007 (3)</option>
<option value="/blog/archives/2007/4">April 2007 (1)</option></select><div style="width: 160px;" class="chzn-container chzn-container-single" id="blog_archive_url_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Select a month</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 35px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="blog_archive_url_chzn_o_0" class="active-result result-selected" style="">Select a month</li><li id="blog_archive_url_chzn_o_1" class="active-result" style="">September 2013 (1)</li><li id="blog_archive_url_chzn_o_2" class="active-result" style="">August 2013 (8)</li><li id="blog_archive_url_chzn_o_3" class="active-result" style="">July 2013 (3)</li><li id="blog_archive_url_chzn_o_4" class="active-result" style="">June 2013 (3)</li><li id="blog_archive_url_chzn_o_5" class="active-result" style="">May 2013 (9)</li><li id="blog_archive_url_chzn_o_6" class="active-result" style="">April 2013 (3)</li><li id="blog_archive_url_chzn_o_7" class="active-result" style="">March 2013 (4)</li><li id="blog_archive_url_chzn_o_8" class="active-result" style="">February 2013 (8)</li><li id="blog_archive_url_chzn_o_9" class="active-result" style="">January 2013 (2)</li><li id="blog_archive_url_chzn_o_10" class="active-result" style="">December 2012 (5)</li><li id="blog_archive_url_chzn_o_11" class="active-result" style="">November 2012 (3)</li><li id="blog_archive_url_chzn_o_12" class="active-result" style="">October 2012 (2)</li><li id="blog_archive_url_chzn_o_13" class="active-result" style="">September 2012 (5)</li><li id="blog_archive_url_chzn_o_14" class="active-result" style="">August 2012 (8)</li><li id="blog_archive_url_chzn_o_15" class="active-result" style="">July 2012 (3)</li><li id="blog_archive_url_chzn_o_16" class="active-result" style="">June 2012 (9)</li><li id="blog_archive_url_chzn_o_17" class="active-result" style="">May 2012 (6)</li><li id="blog_archive_url_chzn_o_18" class="active-result" style="">April 2012 (6)</li><li id="blog_archive_url_chzn_o_19" class="active-result" style="">March 2012 (14)</li><li id="blog_archive_url_chzn_o_20" class="active-result" style="">February 2012 (6)</li><li id="blog_archive_url_chzn_o_21" class="active-result" style="">January 2012 (6)</li><li id="blog_archive_url_chzn_o_22" class="active-result" style="">December 2011 (5)</li><li id="blog_archive_url_chzn_o_23" class="active-result" style="">November 2011 (7)</li><li id="blog_archive_url_chzn_o_24" class="active-result" style="">October 2011 (6)</li><li id="blog_archive_url_chzn_o_25" class="active-result" style="">September 2011 (9)</li><li id="blog_archive_url_chzn_o_26" class="active-result" style="">August 2011 (12)</li><li id="blog_archive_url_chzn_o_27" class="active-result" style="">July 2011 (7)</li><li id="blog_archive_url_chzn_o_28" class="active-result" style="">June 2011 (10)</li><li id="blog_archive_url_chzn_o_29" class="active-result" style="">May 2011 (9)</li><li id="blog_archive_url_chzn_o_30" class="active-result" style="">April 2011 (13)</li><li id="blog_archive_url_chzn_o_31" class="active-result" style="">March 2011 (8)</li><li id="blog_archive_url_chzn_o_32" class="active-result" style="">February 2011 (7)</li><li id="blog_archive_url_chzn_o_33" class="active-result" style="">January 2011 (6)</li><li id="blog_archive_url_chzn_o_34" class="active-result" style="">December 2010 (7)</li><li id="blog_archive_url_chzn_o_35" class="active-result" style="">November 2010 (7)</li><li id="blog_archive_url_chzn_o_36" class="active-result" style="">October 2010 (13)</li><li id="blog_archive_url_chzn_o_37" class="active-result" style="">September 2010 (9)</li><li id="blog_archive_url_chzn_o_38" class="active-result" style="">August 2010 (7)</li><li id="blog_archive_url_chzn_o_39" class="active-result" style="">July 2010 (7)</li><li id="blog_archive_url_chzn_o_40" class="active-result" style="">June 2010 (10)</li><li id="blog_archive_url_chzn_o_41" class="active-result" style="">May 2010 (7)</li><li id="blog_archive_url_chzn_o_42" class="active-result" style="">April 2010 (16)</li><li id="blog_archive_url_chzn_o_43" class="active-result" style="">March 2010 (11)</li><li id="blog_archive_url_chzn_o_44" class="active-result" style="">February 2010 (1)</li><li id="blog_archive_url_chzn_o_45" class="active-result" style="">January 2010 (5)</li><li id="blog_archive_url_chzn_o_46" class="active-result" style="">December 2009 (1)</li><li id="blog_archive_url_chzn_o_47" class="active-result" style="">November 2009 (4)</li><li id="blog_archive_url_chzn_o_48" class="active-result" style="">October 2009 (4)</li><li id="blog_archive_url_chzn_o_49" class="active-result" style="">September 2009 (2)</li><li id="blog_archive_url_chzn_o_50" class="active-result" style="">August 2009 (4)</li><li id="blog_archive_url_chzn_o_51" class="active-result" style="">July 2009 (3)</li><li id="blog_archive_url_chzn_o_52" class="active-result" style="">June 2009 (7)</li><li id="blog_archive_url_chzn_o_53" class="active-result" style="">May 2009 (4)</li><li id="blog_archive_url_chzn_o_54" class="active-result" style="">April 2009 (5)</li><li id="blog_archive_url_chzn_o_55" class="active-result" style="">March 2009 (14)</li><li id="blog_archive_url_chzn_o_56" class="active-result" style="">February 2009 (18)</li><li id="blog_archive_url_chzn_o_57" class="active-result" style="">January 2009 (3)</li><li id="blog_archive_url_chzn_o_58" class="active-result" style="">December 2008 (2)</li><li id="blog_archive_url_chzn_o_59" class="active-result" style="">November 2008 (3)</li><li id="blog_archive_url_chzn_o_60" class="active-result" style="">October 2008 (7)</li><li id="blog_archive_url_chzn_o_61" class="active-result" style="">September 2008 (9)</li><li id="blog_archive_url_chzn_o_62" class="active-result" style="">August 2008 (2)</li><li id="blog_archive_url_chzn_o_63" class="active-result" style="">July 2008 (7)</li><li id="blog_archive_url_chzn_o_64" class="active-result" style="">June 2008 (14)</li><li id="blog_archive_url_chzn_o_65" class="active-result" style="">May 2008 (5)</li><li id="blog_archive_url_chzn_o_66" class="active-result" style="">April 2008 (14)</li><li id="blog_archive_url_chzn_o_67" class="active-result" style="">March 2008 (6)</li><li id="blog_archive_url_chzn_o_68" class="active-result" style="">February 2008 (5)</li><li id="blog_archive_url_chzn_o_69" class="active-result" style="">January 2008 (6)</li><li id="blog_archive_url_chzn_o_70" class="active-result" style="">December 2007 (5)</li><li id="blog_archive_url_chzn_o_71" class="active-result" style="">November 2007 (5)</li><li id="blog_archive_url_chzn_o_72" class="active-result" style="">October 2007 (7)</li><li id="blog_archive_url_chzn_o_73" class="active-result" style="">September 2007 (2)</li><li id="blog_archive_url_chzn_o_74" class="active-result" style="">August 2007 (7)</li><li id="blog_archive_url_chzn_o_75" class="active-result" style="">July 2007 (4)</li><li id="blog_archive_url_chzn_o_76" class="active-result" style="">June 2007 (3)</li><li id="blog_archive_url_chzn_o_77" class="active-result" style="">April 2007 (1)</li></ul></div></div></span>
		<h3 class="hidden-phone">Categories</h3>
		<ul class="hidden-phone">
<li><a href="/blog/tag/rails">Rails <span>(91)</span></a></li>
		    <li><a href="/blog/tag/ruby">Ruby <span>(76)</span></a></li>
		    <li><a href="/blog/tag/announcements">Announcements <span>(48)</span></a></li>
		    <li><a href="/blog/tag/events">Events <span>(42)</span></a></li>
		    <li><a href="/blog/tag/open%20source">Open source <span>(36)</span></a></li>
		    <li><a href="/blog/tag/design">Design <span>(31)</span></a></li>
		    <li><a href="/blog/tag/mobile">Mobile <span>(28)</span></a></li>
		    <li><a href="/blog/tag/development">Development <span>(26)</span></a></li>
		    <li><a href="/blog/tag/tips">Tips <span>(24)</span></a></li>
		    <li><a href="/blog/tag/conferences">Conferences <span>(23)</span></a></li>
	  </ul>
<span class="visible-phone sidebar_item categories">
	    <h3>Categories</h3>	
		<select style="display: none;" class="chzn_select chzn-done" id="blog_category_url" name="blog_category_url"><option value="/blog/tag/rails">Rails (93)</option>
<option value="/blog/tag/ruby">Ruby (77)</option>
<option value="/blog/tag/announcements">Announcements (48)</option>
<option value="/blog/tag/events">Events (43)</option>
<option value="/blog/tag/open%20source">Open source (36)</option>
<option value="/blog/tag/design">Design (32)</option>
<option value="/blog/tag/mobile">Mobile (28)</option>
<option value="/blog/tag/development">Development (26)</option>
<option value="/blog/tag/conferences">Conferences (24)</option>
<option value="/blog/tag/tips">Tips (24)</option></select><div style="width: 0px;" class="chzn-container chzn-container-single" id="blog_category_url_chzn"><a href="javascript:void(0)" class="chzn-single"><span>Rails (93)</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 0px; top: 0px;"><div style="" class="chzn-search"><input style="width: 0px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="blog_category_url_chzn_o_0" class="active-result result-selected" style="">Rails (93)</li><li id="blog_category_url_chzn_o_1" class="active-result" style="">Ruby (77)</li><li id="blog_category_url_chzn_o_2" class="active-result" style="">Announcements (48)</li><li id="blog_category_url_chzn_o_3" class="active-result" style="">Events (43)</li><li id="blog_category_url_chzn_o_4" class="active-result" style="">Open source (36)</li><li id="blog_category_url_chzn_o_5" class="active-result" style="">Design (32)</li><li id="blog_category_url_chzn_o_6" class="active-result" style="">Mobile (28)</li><li id="blog_category_url_chzn_o_7" class="active-result" style="">Development (26)</li><li id="blog_category_url_chzn_o_8" class="active-result" style="">Conferences (24)</li><li id="blog_category_url_chzn_o_9" class="active-result" style="">Tips (24)</li></ul></div></div></span>
	  <a href="" class="hiring">We're Hiring</a>
	</div>
	<div class="main benefits hidden-phone">
			<h3>Looking for a new gig?</h3>
			<p>
				Obsessed with good code and beautiful design? Do you value form as much as function? We do too. And we're looking for people like you.
			</p>
			<h4>Our Benefits</h4>
			<ul>
				<li>Flexible Work Schedule</li>
				<li>Full Coverage Insurance</li>
				<li>Sponsored Events</li>
				<li>Company Retreats</li>
				<li>Competitive Salary</li>
			</ul>
<a href="/careers" class="btn green block large">View Open Positions</a>
	</div>
</aside>
</section>
