
          <div id="flash"><p id="notice"><%= notice %></p>
		
</div>
  <div class="flash">
  <% if flash[:alert] %>
    <p class="error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
</div>        


<div class="main about-header masthead clearfix">
	<div id="sub_nav">
  <ul class="visible-desktop nav clearfix">
<li class="active"><a href="/about">About Intridea</a></li>
    <li class=""><a href="/contact">Contact Us</a></li>
    <li class=""><a href="/careers">Careers</a></li>
    <!--<li><a href="#">Newsletter</a></li>-->
  </ul>
<div class="visible-tablet styled-select">
  	<select class="chzn_select tablet_subnav chzn-done" id="about_sub_nav_url" name="about_sub_nav_url" style="width: 160px; display: none;"><option value="/about" selected="selected">About Intridea</option>
<option value="/contact">Contact Us</option>
<option value="/careers">Careers</option></select><div style="width: 160px;" class="chzn-container chzn-container-single" id="about_sub_nav_url_chzn"><a href="javascript:void(0)" class="chzn-single"><span>About Intridea</span><div><b></b></div></a><div class="chzn-drop" style="left: -9000px; width: 160px; top: 0px;"><div style="" class="chzn-search"><input style="width: 125px;" autocomplete="off" type="text"></div><ul class="chzn-results"><li id="about_sub_nav_url_chzn_o_0" class="active-result result-selected" style="">About Intridea</li>
	<li id="about_sub_nav_url_chzn_o_2" class="active-result" style="">Board Members</li><li id="about_sub_nav_url_chzn_o_3" class="active-result" style="">Contact Us</li><li id="about_sub_nav_url_chzn_o_4" class="active-result" style="">Careers</li></ul></div></div>
</div>
</div>
	
	<div class="header-description about clearfix">
		<h2>We Love Beautiful Software.</h2>
		<div class="clearfix">
			<div class="description">
				<p>
					We don't just make web apps - we solve problems. We 
write intelligently designed software to help businesses develop 
strategic solutions and launch new ideas. Equipped with bright 
engineers and artful designers, and positioned at the forefront of the 
technological ethos, we help businesses disrupt industries.
				</p>
				<a href="/contact" class="btn blue small">Get in Touch</a>
			</div>
			<div class="peep-wrapper">
				

<div class="peep-quote clearfix">

<blockquote>"


Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</blockquote>
<cite><strong> <a href="">Roman Ceasar</a></strong>, Managing Director of Projects</cite>
				</div>
			</div>
		</div>
	</div>
</div>

<h2 class="section-title">
<strong>Careers</strong> You'll love working with us</h2>
<div class="main clearfix carrers">
	<div class="span-1 alpha sign">
		<a class="hiring about" href="/careers#/">We're Hiring</a>
		<p>Obsessed with quality code and beautiful design? Do you value form as much as function? We do too. Apply today.</p>
	</div>
	<div class="span-1 visible-desktop in_benefits">
		<h3>Benefits of Being an Intridean</h3>
		<ul class="dot intridea_benefits">
<li>Flexible Work Schedule</li>
			<li>Medical, Dental, and Vision Ins.</li>
			<li>Regularly Sponsored Events</li>
			<li>Company Sponsored Retreats</li>
			<li>Competitive Salary</li>
			<li>Bright, Collaborative Teammates</li>
		</ul>
</div>
	<div class="span-1 omega positions">
		<h3>Open Positions <a href="/careers" class="view_all_careers">View All</a>
</h3>
		<ul class="open-pos">
<li class="clearfix">
  	
				<img class="icn-services alignleft ror_development" src="/assets/icon_ror_development_2x.png"><div class="clearfix">
  					<a href="http://intridea.theresumator.com/apply/vqtgzY/Ruby-On-Rails-Developer.htmlhttp://intridea.theresumator.com/apply/Ssec8n/User-Interface-Designers.htmlhttp://intridea.theresumator.com/apply/zfkELH/User-Interface-Developer.htmlhttp://intridea.theresumator.com/apply/r54Aq0/Operations-Manager.html">Ruby on Rails Developer</a>
  					<span><strong>Location:</strong> Washington, DC, (Multiple states)</span>
  				</div>
  			</li>
  		  <li class="clearfix">
  	
				<img class="icn-services alignleft ui_design" src="/assets/icon_user_interface_design_2x.png"><div class="clearfix">
  					<a href="http://intridea.theresumator.com/apply/vqtgzY/Ruby-On-Rails-Developer.htmlhttp://intridea.theresumator.com/apply/Ssec8n/User-Interface-Designers.htmlhttp://intridea.theresumator.com/apply/zfkELH/User-Interface-Developer.htmlhttp://intridea.theresumator.com/apply/r54Aq0/Operations-Manager.html">User Interface Designers</a>
  					<span><strong>Location:</strong> Washington, DC, (Multiple states)</span>
  				</div>
  			</li>
  		  <li class="clearfix">
  	
				<img class="icn-services alignleft ui_design" src="/assets/icon_user_interface_design_2x.png"><div class="clearfix">
  					<a href="http://intridea.theresumator.com/apply/vqtgzY/Ruby-On-Rails-Developer.htmlhttp://intridea.theresumator.com/apply/Ssec8n/User-Interface-Designers.htmlhttp://intridea.theresumator.com/apply/zfkELH/User-Interface-Developer.htmlhttp://intridea.theresumator.com/apply/r54Aq0/Operations-Manager.html">User Interface Developer</a>
  					<span><strong>Location:</strong> Washington, DC, (Multiple states)</span>
  				</div>
  			</li>
  		  <li class="clearfix">
  	
				<img class="icn-services alignleft ui_design" src="/assets/icon_user_interface_design_2x.png"><div class="clearfix">
  					<a href="http://intridea.theresumator.com/apply/vqtgzY/Ruby-On-Rails-Developer.htmlhttp://intridea.theresumator.com/apply/Ssec8n/User-Interface-Designers.htmlhttp://intridea.theresumator.com/apply/zfkELH/User-Interface-Developer.htmlhttp://intridea.theresumator.com/apply/r54Aq0/Operations-Manager.html">Operations Manager</a>
  					<span><strong>Location:</strong> Washington, DC, (Multiple states)</span>
  				</div>
  			</li>
		</ul>
</div>
</div>

<h2 class="section-title">
<strong>Clients</strong> From Startups to Giants</h2>

<div id="client_bar" class="main clearfix">
  <ul class="visible-desktop">
<li>AARP</li>
    <li>Accenture</li>
    <li>Agilysys</li>
    <li><a href="/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="/portfolio/web/betterfly">Betterfly</a></li>
    <li>Bureau of Labor Statistics</li>
  </ul>
<ul class="visible-desktop">
<li>Comcast</li>
    <li>comScore</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li><a href="/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>Gannett</li>
    <li>Geico</li>
    <li>Gulfstream</li>
    <li><a href="/portfolio/web/homezada">HomeZada</a></li>
  </ul>
<ul class="visible-desktop">
<li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp; Company</li>
    <li><a href="/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
  </ul>
<ul class="visible-desktop">
<li><a href="/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
    <li>PPR</li>
    <li>Razoo</li>
    <li>Retail Benefits</li>
    <li>Safeway</li>
    <li>Schlumberger</li>
    <li><a href="/portfolio/web/scalr">Scalr</a></li>
  </ul>
<ul class="visible-desktop last">
<li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
  </ul>
<ul class="hidden-desktop first">
<li>AARP</li>
    <li>Accenture</li>
    <li><a href="/portfolio/web/amazon-mechanical-turk">Amazon</a></li>
    <li>ACS</li>
    <li>Avascent</li>
    <li>Bank of America</li>
    <li><a href="/portfolio/web/betterfly">Betterfly</a></li> 
  	<li>Bureau of Labor Statistics</li>
    <li>Comcast</li>
    <li>Cisco</li>
    <li>Citi</li>
    <li>DubMeNow</li>
    <li><a href="/portfolio/web/earth-aid">Earth Aid</a></li>
    <li>ForumOne</li>
    <li>Gannett</li>
  </ul>
<ul class="hidden-desktop">
<li>Geico</li>
   	<li>Gulfstream</li>
    <li><a href="/portfolio/web/homezada">HomeZada</a></li>
    <li>HowAboutWe</li>
    <li>JPMorgan Chase</li>
    <li>Mandiant</li>
    <li>McKinsey &amp;<br> Company</li>
    <li><a href="/portfolio/mobile/mashable#">Mashable</a></li>
    <li>Merck</li>
    <li>MerrilLynch</li>
    <li><a href="/portfolio/web/the-meeting-board">Meeting Board</a></li>
    <li><a href="/portfolio/mobile/mitsubishi-electric">Mitsubishi Electric</a></li>
    <li><a href="/portfolio/mobile/oracle">Oracle</a></li>
    <li>Pew Research Center</li>
    <li>Pharm MD</li>
  </ul>
<ul class="hidden-desktop last">
<li>PPR</li>
    <li>Razoo</li>
    <li>Recnation</li>
  	<li>Retail Benefits</li>
    <li>Safeway</li>
    <li><a href="/portfolio/web/scalr">Scalr</a></li>
    <li>Schlumberger</li>
    <li>SGIS</li>
    <li>Sequoia Capital</li>
    <li><a href="/portfolio/web/socialcode">SocialCode</a></li>
    <li>Studio PMG</li>
    <li>Verizon</li>
    <li>Voice of America</li>
    <li><a href="/portfolio/web/watchparty">WatchParty</a></li>
    <li>Whitepages.com</li>
    <li>Visual CV</li>
    <a href="/contact" class="btn blue small visible-tablet">Get in Touch</a>
  </ul>
</div>

