
@font-face {
    font-family: 'FS Me Web Bold';
    src: url('http://f.fontdeck.com/f/1/SThlTWdKSkgAA3rko5g/tWhpExQKDlD4fZPqCLxpyMn0OfCW6e2KVJaq.eot');
    src: url('http://f.fontdeck.com/f/1/SThlTWdKSkgAA3rko5g/tWhpExQKDlD4fZPqCLxpyMn0OfCW6e2KVJaq.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/SThlTWdKSkgAA3rko5g/tWhpExQKDlD4fZPqCLxpyMn0OfCW6e2KVJaq.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/SThlTWdKSkgAA3rko5g/tWhpExQKDlD4fZPqCLxpyMn0OfCW6e2KVJaq.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FS Me Web Italic';
    src: url('http://f.fontdeck.com/f/1/TkxLcUVGUWgAA8Txyc46f+1Dacwwr06OGxF0dpolKXwNKfbifTvJlXwF.eot');
    src: url('http://f.fontdeck.com/f/1/TkxLcUVGUWgAA8Txyc46f+1Dacwwr06OGxF0dpolKXwNKfbifTvJlXwF.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/TkxLcUVGUWgAA8Txyc46f+1Dacwwr06OGxF0dpolKXwNKfbifTvJlXwF.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/TkxLcUVGUWgAA8Txyc46f+1Dacwwr06OGxF0dpolKXwNKfbifTvJlXwF.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FS Me Web Bold Italic';
    src: url('http://f.fontdeck.com/f/1/Q0hxVllYOTQAA81sIjeZFLqw6WLDrxQjvKZoe27PmL9BUy+TpAdM6Z3y.eot');
    src: url('http://f.fontdeck.com/f/1/Q0hxVllYOTQAA81sIjeZFLqw6WLDrxQjvKZoe27PmL9BUy+TpAdM6Z3y.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/Q0hxVllYOTQAA81sIjeZFLqw6WLDrxQjvKZoe27PmL9BUy+TpAdM6Z3y.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/Q0hxVllYOTQAA81sIjeZFLqw6WLDrxQjvKZoe27PmL9BUy+TpAdM6Z3y.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FS Me Web Light Italic';
    src: url('http://f.fontdeck.com/f/1/c2UzOXRXNUMAA0ZKPvjIerYr77TaHr4domAgUcXGJED9nI9Nn0B4gS2J.eot');
    src: url('http://f.fontdeck.com/f/1/c2UzOXRXNUMAA0ZKPvjIerYr77TaHr4domAgUcXGJED9nI9Nn0B4gS2J.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/c2UzOXRXNUMAA0ZKPvjIerYr77TaHr4domAgUcXGJED9nI9Nn0B4gS2J.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/c2UzOXRXNUMAA0ZKPvjIerYr77TaHr4domAgUcXGJED9nI9Nn0B4gS2J.ttf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'FS Me Web Regular';
    src: url('http://f.fontdeck.com/f/1/ZHpRcGQtaXUAA6feVxEo4svSAW+ulOr9uCklftPWx57KsMNgSaSEHYBD.eot');
    src: url('http://f.fontdeck.com/f/1/ZHpRcGQtaXUAA6feVxEo4svSAW+ulOr9uCklftPWx57KsMNgSaSEHYBD.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/ZHpRcGQtaXUAA6feVxEo4svSAW+ulOr9uCklftPWx57KsMNgSaSEHYBD.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/ZHpRcGQtaXUAA6feVxEo4svSAW+ulOr9uCklftPWx57KsMNgSaSEHYBD.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FS Me Web Light';
    src: url('http://f.fontdeck.com/f/1/NlNiZnlTR2QAA3625qc+G6dQ16rys4W3/iLNAVolzlle/YgFKPVOPEaN.eot');
    src: url('http://f.fontdeck.com/f/1/NlNiZnlTR2QAA3625qc+G6dQ16rys4W3/iLNAVolzlle/YgFKPVOPEaN.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/NlNiZnlTR2QAA3625qc+G6dQ16rys4W3/iLNAVolzlle/YgFKPVOPEaN.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/NlNiZnlTR2QAA3625qc+G6dQ16rys4W3/iLNAVolzlle/YgFKPVOPEaN.ttf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
